:host {
  #notifications-badge {
    background-color: var(--danger);
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
  }

  ion-button {
    color: var(--dark);
  }
}

.notification-popover {
  .popover-content {
    width: 70%;
    background-color: var(--card-background);
  }
}