<mobile-phenomenon-selector [endpoint]="'phenomenon'" [serviceUrl]="providerUrl" [selectionId]="selectedPhenomenonId"
  [visiblePhenomenonIDs]="visiblePhenomenonIDs" (onItemSelected)="onPhenomenonSelected($event)"></mobile-phenomenon-selector>

<div padding>
  <button *ngIf="visiblePhenomenonIDs" ion-button block (click)="listAllPhenomenons()">
    {{'phenomenon-selector.list-all-phenomenons' | translate}}
  </button>
  <button *ngIf="!visiblePhenomenonIDs" ion-button block (click)="hideSomePhenomenons()">
    {{'phenomenon-selector.hide-some-phenomenons' | translate}}
  </button>
</div>
