:host {
    img {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: 101%;
        background-position: top center;
        overflow: auto;
    }

    ion-content {
        --background: transparent;
    }
}
