<ion-list>
  <ion-list-header *ngIf="!hideHeader">
    {{'push-notification-subscription.header' | translate}}
  </ion-list-header>
  <ion-item>
    <ion-label text-wrap>{{'push-notification-subscription.flanders' | translate}}</ion-label>
    <ion-toggle [(ngModel)]="flanders" (ngModelChange)="toggleFlandersNotification()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>{{'push-notification-subscription.wallonia' | translate}}</ion-label>
    <ion-toggle [(ngModel)]="wallonia" (ngModelChange)="toggleWalloniaNotification()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>{{'push-notification-subscription.brussels' | translate}}</ion-label>
    <ion-toggle [(ngModel)]="brussels" (ngModelChange)="toggleBrusselsNotification()"></ion-toggle>
  </ion-item>
</ion-list>