page-start {
  .map-card {
    ion-card-content {
      padding: 2px;

      .map {
        height: 300px;
        position: relative;

        .loading-overlay {
          z-index: 9999;
          background-color: rgba(255, 255, 255, 0.5);
        }

        .leaflet-control-layers {
          display: none;
        }
      }
    }
  }

  ion-content {
    .ion-affix {
      margin: 0 10px;
      border-bottom: 1px solid #dedede;

      &.item-md.item-block .item-inner {
        border: none;
      }
    }
  }

  ion-refresher {
    height: 20px;
  }

  ion-refresher-content {
    height: 80px;
  }

  .label {
    text-align: center;

    .location-label {
      font-size: 1.2em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 10px;
    }

    .location-date {
      font-size: 0.8em;
    }
  }

}
