<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-card>
    <network-panel></network-panel>
  </ion-card>

  <ion-card padding>
    <b>27/06 - SMOG-alarm: </b> Hoge fijnstof concentraties - stook geen hout
  </ion-card>

  <!-- <ion-card>
    <air-quality-location-panel></air-quality-location-panel>
  </ion-card> -->

  <ion-card *ngIf="locationCount > 0 || locationEnabled">
    <belaqi-user-location-slider></belaqi-user-location-slider>
  </ion-card>

  <!-- <ion-card class="index-card">
    <ion-card-content>
      <value-panel></value-panel>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card class="map-card">
    <ion-card-content>
      <div class="map">
        <n52-geometry-map-viewer mapId="start-view" [overlayMaps]="overlayMaps" [fitBounds]="fitBounds" [mapOptions]="mapOptions"
          [layerControlOptions]="layerControlOptions"></n52-geometry-map-viewer>
      </div>
    </ion-card-content>
  </ion-card> -->

  <ion-card *ngIf="locationEnabled">
    <belaqi-chart></belaqi-chart>
  </ion-card>

  <ion-card>
    <nearest-measuring-station-panel (onSelect)="navigateToMap($event)"></nearest-measuring-station-panel>
  </ion-card>

  <!-- <ion-card class="index-card">
    <ion-card-content>
      <air-quality-index (onBoundsUpdated)="setBounds($event)"></air-quality-index>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card>
    <ion-card-header text-center>
      {{'start.forecast-map.header' | translate}}
    </ion-card-header>
    <ion-card-content style="padding: 2px;">
      <div style="height: 300px;">
        <forecast-map></forecast-map>
      </div>
    </ion-card-content>
  </ion-card> -->

</ion-content>
