page-start {
    .cards-bg {
        background-color: rgb(228, 228, 228);
    }
    .last-update-card {
        ion-card-content {
            padding: 2px;
        }
    }
    .index-card {
        ion-slide {
            padding-bottom: 20px;
        }
        .swiper-container-horizontal>.swiper-pagination-bullets {
            bottom: 0px;
        }
        .veryGood {
            background-color: rgb(0, 153, 255);
        }
        .good {
            background-color: rgb(0, 153, 0);
        }
        .fairlyGood {
            background-color: rgb(0, 255, 0);
        }
    }
    .map-card {
        ion-card-content {
            padding: 2px;
            .map {
                height: 300px;
                position: relative;
                .loading-overlay {
                    z-index: 9999;
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}