page-start {
    .cards-bg {
        background-color: rgb(228, 228, 228);
    }
    .last-update-card {
        ion-card-content {
            padding: 2px;
        }
    }
    .map-card {
        ion-card-content {
            padding: 2px;
            .map {
                height: 300px;
                position: relative;
                .loading-overlay {
                    z-index: 9999;
                    background-color: rgba(255, 255, 255, 0.5);
                }
                .leaflet-control-layers {
                    display: none;
                }
            }
        }
    }
}