<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <refresh-button></refresh-button>
    </ion-buttons>
    <!-- <ion-title>{{'map.header' | translate}}</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-card>
    <network-panel></network-panel>
  </ion-card>

  <ion-card class="index-card">
    <ion-card-content>
      <value-panel></value-panel>
      <air-quality-index (onBoundsUpdated)="setBounds($event)"></air-quality-index>
    </ion-card-content>
  </ion-card>

  <ion-card class="map-card" (click)="navigateToMap()">
    <ion-card-header>
      <span>{{'start.currently' | translate}}Currently: </span>
      <span *ngIf="selectedPhenomenon">{{selectedPhenomenon.label}}</span>
    </ion-card-header>
    <ion-card-content>
      <div class="map">
        <!-- <n52-station-map-selector *ngIf="selectedPhenomenon" mapId="start-view" [serviceUrl]="providerUrl" [filter]="phenomenonFilter"
          [overlayMaps]="overlayMaps" [fitBounds]="fitBounds" [statusIntervals]="true" [cluster]="clusterStations" [mapOptions]="mapOptions"
          [avoidZoomToSelection]="avoidZoomToSelection" [layerControlOptions]="layerControlOptions" (onContentLoading)="onMapLoading($event)"></n52-station-map-selector> -->
        <n52-geometry-map-viewer mapId="start-view" [overlayMaps]="overlayMaps" [fitBounds]="fitBounds" [mapOptions]="mapOptions"
          [layerControlOptions]="layerControlOptions"></n52-geometry-map-viewer>
        <!-- <div class="loading-overlay" *ngIf="loading">
          <ion-spinner item-start name="circles"></ion-spinner>
          <span>{{'map.loading' | translate}}...</span>
        </div> -->
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center>
      {{'start.forecast-map.header' | translate}}
    </ion-card-header>
    <ion-card-content style="padding: 2px;">
      <div style="height: 300px;">
        <forecast-map></forecast-map>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
