<ion-content>
  <div class="longterm-info">
    <ion-button (click)="onClick()">
      <ion-icon slot="start" src="/assets/images/icons/chevron-back.svg"></ion-icon>
      Lange termijn
    </ion-button>

    <p>De data is het resultaat van onze rekenmodellen op lange termijn..</p>

    <ion-button (click)="onClick()">
      Van waar kom deze info
      <ion-icon slot="start" name="add"></ion-icon>
    </ion-button>

    <div class="card">
      <h5>Lange termijn</h5>
      <hr>
      <p>
        Langdurige blootstelling aan luchtvervuilende stoffen kan chronische effecten uitlokken en voor een hoger risico
        op hart- en longziekten zorgen.
      </p>
    </div>
  </div>
</ion-content>