<ion-content>
  <app-background>
    <div class="longterm-info">
      <ion-button (click)="goBack()">
        <ion-icon slot="start" src="/assets/images/icons/chevron-back.svg"></ion-icon>
        {{ 'v2.screens.long-term-info.long-term' | translate }}
      </ion-button>

      <p>{{ 'v2.screens.long-term-info.about-data' | translate }}</p>

      <ion-item detail (click)="goToLongTerm()">
        <ion-label text-wrap>
          {{ 'v2.screens.long-term-info.from-where' | translate }}
        </ion-label>
      </ion-item>
    </div>

    <div class="card">
      <div class="card--content">
        <h5>{{ 'v2.screens.long-term-info.long-term' | translate }}</h5>
        <p>
          {{ 'v2.screens.long-term-info.lt-effects-diseases' | translate }}
        </p>
      </div>

      <div *ngIf="loading" class="card--content" style="text-align: center;">
        <div>
          <ion-spinner></ion-spinner>
        </div>
        <p>
          {{ 'v2.screens.long-term-info.data-loading' | translate }}
        </p>
      </div>

      <ul>
        <li *ngFor="let ltd of longTermData">
          <app-information-item [detailedDataPoint]="ltd"></app-information-item>
          <app-bar-chart [max]="ltd.chartData.max" [options]="ltd.chartData" [euMax]="ltd.euBenchMark"
            [worldMax]="ltd.worldBenchMark"></app-bar-chart>
          <app-value-display [color]="ltd.color" [score]="ltd.currentValue" [value]="ltd.substance.unit">
          </app-value-display>
        </li>
      </ul>

    </div>
  </app-background>
</ion-content>
