ion-content {
    --background: transparent;
    // --padding-top: 65px;

    .longterm-info {
        color: white;
        padding-top: 25px;

        ion-button {
            --background: transparent;
            --background-activated: rgba(255, 255, 255, 0.1);
            display: block;
            margin: auto;
            font-size: 24px;
            color: white;
            height: auto;
            --box-shadow: none;

            ion-icon {
                font-size: 14px;
                margin-right: 20px;
            }
        }

        ion-item {
            width: 250px;
            margin: 0 auto 40px;
            --color: white;
            --detail-icon-color: white;
            --inner-padding-end: 0;
            --border-color: white;
            --min-height: 35px;
            --detail-icon-opacity: 1;
        }

        p {
            font-size: 18px;
            text-align: center;
            color: #ffffff;
            margin: 20px 0;
        }
    }

    .card {
        background-color: white;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;

        .card--content {
            padding: 30px 50px;

            h5 {
                font-size: 18px;
                font-weight: bold;
                color: #23b1d6;
                position: relative;
                margin-bottom: 25px;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 37px;
                    height: 1px;
                    background: rgba(#e0e0e0, 0.7);
                }
            }

            p {
                font-size: 15px;
                line-height: 1.4;
                color: #747474;
                margin: 0;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                box-shadow: inset 0 -10px 20px rgba(#eee, 0.34);
                padding: 40px 50px 50px 50px;

                app-bar-chart {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}