@import '../../theme/variables.scss';
.high-contrast {
    :host {
        .longterm-info {
            .arrow-back {
                width: 14px;
                height: 14px;
                border-color: rgba($black, 0.64);
            }
            ion-button,
            p {
                color: $black;
                margin: 20px 0px 33px 0px;
            }
            ion-button {
                ion-icon {
                    opacity: 0.8;
                }
            }
        }
        .card {
            box-shadow: 0 2px 50px 0 rgba($black, 0.3);
            &--content {
                p,
                h5 {
                    color: $black !important;
                }
                h5 {
                    &:after {
                        background: rgba($black, 0.3) !important;
                    }
                }
            }
        }
    }
}
