<ion-content>
  <div class="longterm-info">
    <ion-button (click)="goBack()">
      <ion-icon slot="start" src="/assets/images/icons/chevron-back.svg"></ion-icon>
      {{ 'v2.screens.long-term-info.long-term' | translate }}
    </ion-button>

    <p>{{ 'v2.screens.long-term-info.about-data' | translate }}</p>

    <ion-item button (click)="onClick()">
      <ion-label>
        {{ 'v2.screens.long-term-info.from-where' | translate }}
      </ion-label>
    </ion-item>
  </div>

  <div class="card">
    <div class="card--content">
      <h5>{{ 'v2.screens.long-term-info.long-term' | translate }}</h5>
      <p>
        {{ 'v2.screens.long-term-info.lt-effects-diseases' | translate }}
      </p>
    </div>

    <ul>
      <li *ngFor="let information of informationData">
<!--        <app-information-item [unit]="information.unit" [unitName]="information.unitName" [color]="information.color"-->
<!--          [evaluation]="information.evaluation" [values]="information.values">-->
<!--        </app-information-item>-->
        <app-bar-chart [max]="information.chartData.max" [options]="information.chartData"
          [euMax]="information.chartData.euMax" [worldMax]="information.chartData.worldMax"></app-bar-chart>
        <app-value-display [color]="information.color" score="56" value="µg/m3"></app-value-display>
      </li>
    </ul>

  </div>
</ion-content>
