<div class="wrapper" [ngStyle]="{'background-color': backgroundColor}">
  <div class="map" id="mapEditLocation">
  </div>
  <div class="label">
    <ng-container *ngIf="!loadingLabel; else elseTemplate">
      <div>{{userLocation.label}}</div>
    </ng-container>
    <ng-template #elseTemplate>
      <ion-spinner ngif name="dots"></ion-spinner>
    </ng-template>
  </div>
  <div class="edit-location-hint">
    {{ 'edit-location-hint' | translate }}
  </div>
  <div class="controls">
    <ion-button fill="clear" (click)="cancel()">
      {{ 'controls.cancel' | translate }}
    </ion-button>
    <div style="flex: 1;"></div>
    <ion-button fill="clear" (click)="confirm()">
      {{ 'controls.ok' | translate }}
    </ion-button>
  </div>
</div>
