<div class="wrapper" [ngStyle]="{'background-color': backgroundColor}">
  <div class="map" id="mapEditLocation">
  </div>
  <div class="label">
    <ng-container *ngIf="!loadingLabel; else elseTemplate">
      <div>{{editedUserLocation?.label}}</div>
      <div style="flex: 1;"></div>
      <ion-button fill="clear" class="ion-no-padding" (click)="editLabel()" style="color: white;">
        <!-- <ion-icon slot="icon-only" name="create"></ion-icon> -->
        <ion-icon src="/assets/images/icons/edit.svg" slot="icon-only"></ion-icon>
        <ion-icon class="dark" src="/assets/images/icons/edit-dark.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ng-container>
    <ng-template #elseTemplate>
      <ion-spinner ngif name="dots"></ion-spinner>
    </ng-template>
  </div>
  <div class="edit-location-hint">
    {{ 'edit-location-hint' | translate }}
  </div>
  <div class="controls">
    <ion-button fill="clear" (click)="cancel()">
      {{ 'controls.cancel' | translate }}
    </ion-button>
    <div style="flex: 1;"></div>
    <ion-button fill="clear" (click)="confirm()">
      {{ 'controls.ok' | translate }}
    </ion-button>
  </div>
</div>
