:host {

    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: env(safe-area-inset-bottom);

        .map {
            background-color: white;
            flex: 1;
            height: 300px;
        }

        .label {
            padding: 10px;
            text-align: center;
            color: white;
            display: flex;
            align-items: center;

            ion-button {
                ion-icon {
                    &.dark {
                        display: none;
                    }
                }
            }
        }

        .controls {
            display: flex;

            .button {
                color: white;
            }
        }
        .edit-location-hint {
            color: white;
            padding: 10px 20px;
            text-align: center;
            width: 100%;
            font-size: 0.9em;
        }
    }

}
