@import '../../theme/variables';

.high-contrast {
  :host {
    .language--dropdown {
      background-color: rgba($black, 0.05);
      color: $black;

      &:after {
        background: url('/assets/images/icons/arrow-dark.svg') no-repeat center center / 18px;
      }
    }
  }
}
