@import '../../theme/variables.scss';
.high-contrast {
  :host {
    ion-header {
      background-color: $black;
    }
  }
}
.md {
  .high-contrast {
    :host {
      ion-header {
        max-height: calc(50px + env(safe-area-inset-top));
      }
    }
  }
}
