<ion-header class="ion-no-border">
  <ion-toolbar color="transparent" class="ion-no-padding">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()" class="ion-no-padding">
        <img src="/assets/images/icons/menu.svg" alt="">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="clickRating()" class="ion-no-padding">
        <img [src]="onRatingScreen ? '/assets/images/icons/megafoon-copy.svg' : '/assets/images/icons/megafoon.svg'" alt="">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menu-screen (menuClosed)="closeMenu()" [menuVisible]="menuVisible"></app-menu-screen>
