<ion-header class="ion-no-border">
  <ion-toolbar color="transparent" class="ion-no-padding">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()" class="ion-no-padding">
        <img src="/assets/images/icons/menu.svg" alt="">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openRating()" class="ion-no-padding">
        <img src="/assets/images/icons/megafoon.svg" alt="">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div @menuAnimation *ngIf="menuVisible" [ngStyle]="{'background-color': backgroundColor}">
  <app-menu-screen></app-menu-screen>
</div>

