:host {
    // display: flex;
    // align-items: center;

    ion-toolbar {
        --border-width: 0;
    }

    ion-header {
        padding: 2px 18px;
        // transition: background-color 0.5s ease-in-out;

        &.header-md:after {
            background: none;
        }
    }
}

.md {
    :host {
        ion-header {
            padding: 0px 18px;
        }
    }
}
