<div *ngIf="notifications.length > 0">
  <div *ngFor="let notification of notifications">
    <ion-card>
      <ion-item>
        <h2>{{notification.title}}</h2>
        <p>{{notification.expiration | date}}</p>
        <p>{{('push-notification-subscription.' + notification.topic) | translate}}</p>
      </ion-item>
      <ion-card-content>
        {{notification.body}}
      </ion-card-content>
    </ion-card>
  </div>
</div>
<div *ngIf="notifications.length === 0">
  <ion-card>
    <ion-item>
      <h2>{{'home.noAlertheader' | translate}}</h2>
    </ion-item>
    <ion-card-content>
      {{'home.noAlert' | translate}}
    </ion-card-content>
  </ion-card>
</div>
