notification-icon {
  #notifications-badge {
    background-color: color($colors, danger);
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
  }
  .button {
    color: color($colors, dark);
  }
}

.notification-popover {
  .popover-content {
    width: 70%;
    background-color: color($colors, card-background);
  }
}
