:host {
  padding: 12px;
  display: flex;
  flex-direction: column;
  .title {
    padding-top: 4px;
    font-weight: 600;
    font-size: 1rem;
  }
  .description {
    font-size: 12px;
    padding: 8px 0px;
  }

  .expiration {
    font-size: 10px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
  }
}
