<ion-slides *ngIf="!loading" pager #slider (ionSlideDidChange)="slideChanged()" (ionSlideWillChange)="slideWillChange()" [ngStyle]="{'height': slidesHeight}">
  <ion-slide *ngFor="let loc of belaqiLocations">
    <div *ngIf="loc.latitude">
      <div class="wheel">
        <belaqi-wheel [index]="loc.index"></belaqi-wheel>
      </div>
      <div class="chart">
        <belaqi-chart [location]="loc"></belaqi-chart>
      </div>
      <div>
        <nearest-measuring-station-panel [location]="loc" (onSelect)="selectPhenomenon($event, loc)"></nearest-measuring-station-panel>
      </div>
    </div>
    <div *ngIf="!currentLocationError && !loc.latitude" style="height: 300px;">
      <div text-wrap>{{'belaqi-user-location-slider.loading-current-location' | translate}}</div>
      <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="currentLocationError" style="height: 300px;">
      <div text-wrap>{{'belaqi-user-location-slider.current-location-error' | translate}}</div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="create-new-location-slide">
      <div>
        <button ion-button outline (click)="createNewLocation()">{{'belaqi-user-location-slider.create-new-location' |
          translate}}</button>
      </div>
      <div>
        <button ion-button outline (click)="openUserLocation()">{{'belaqi-user-location-slider.open-user-location' |
          translate}}</button>
      </div>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>{{'belaqi-user-location-slider.current-location' | translate}}</h2>
            <p text-wrap>{{'belaqi-user-location-slider.current-location-description' | translate}}</p>
          </ion-label>
          <ion-toggle (ionChange)="toggle($event)" [checked]="showCurrentLocation"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </ion-slide>
</ion-slides>
