:host {
    div {
        height: 57px;
        border-radius: 35.5px;
        box-shadow: 0 0 2px 0 rgba(164, 164, 164, 0.5);
        background-color: #fcfcfc;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 35px;
            font-weight: bold;
            margin: 0 10px 0 0;
        }

        span {
            opacity: 0.7;
            font-size: 15px;
            font-weight: 600;
            color: #747474;
            margin-top: 10px;
        }
    }
}
