<ion-list lines="none">
  <ion-list-header>
    {{'settings.user-locations.header' | translate}}
  </ion-list-header>

  <ion-list class="location-list">
    <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
      <ng-container *ngFor="let location of locations; let i = index;">
        <ion-item *ngIf="location.type === 'current'">
          <ion-row nowrap>
            <ion-reorder></ion-reorder>
            <ion-col>
              <ion-label>
                {{'belaqi-user-location-slider.current-location' | translate}}
                <p text-wrap>{{'belaqi-user-location-slider.current-location-description' | translate}}</p>
              </ion-label>
            </ion-col>
            <ion-toggle mode="md" color="success" [(ngModel)]="showCurrentLocation" (ngModelChange)="changeCurrentLocation($event)"></ion-toggle>
          </ion-row>
        </ion-item>
        <ion-item *ngIf="location.type === 'user'">
          <ion-row nowrap>
            <ion-reorder></ion-reorder>
            <div class="location-item">
              <ion-label text-left text-wrap class="header">
                {{location.label}}
              </ion-label>
            </div>
            <div class="right">
              <ion-button (click)="editLocation(location)">
                <ion-icon slot="icon-only" name="build"></ion-icon>
              </ion-button>
              <ion-button (click)="removeLocation(location)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </div>
          </ion-row>
        </ion-item>
      </ng-container>
    </ion-reorder-group>
  </ion-list>
  <div text-center (click)="createNewLocation()">
    <ion-button>{{'settings.user-locations.create-new-location' | translate}}</ion-button>
  </div>
  <!-- <ion-item text-wrap (click)="toggleNearestSeries()">
    <ion-label>{{'settings.user-locations.show-nearest-series-by-default' | translate}}</ion-label>
    <ion-toggle mode="md" color="secondary" [(ngModel)]="nearestSeriesByDefault" (ngModelChange)="toggleNearestSeries()"></ion-toggle>
  </ion-item> -->
</ion-list>