:host {
  --color: white;
  color: white;
  --ion-color-step-200: white;
  --ion-color-step-400: white;
  --ion-color-step-600: white;
  width: 100%;

  .fullwidth {
      width: 100%;
  }

  ion-row {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;

    .right {
        margin-right: 0;
    }
  }

  ion-item,
  .currentLocationToggler {
    border-bottom: 1px solid white;
    width: 90%;
    margin-left: 5%;
  }

}
