<ion-header>
  <ion-toolbar>
    <ion-buttons start right>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>{{notification.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center text-wrap [ngSwitch]="notification.topic">
    <p *ngSwitchCase="'flanders'">{{'push-notification-subscription.flanders' | translate}}</p>
    <p *ngSwitchCase="'wallonia'">{{'push-notification-subscription.wallonia' | translate}}</p>
    <p *ngSwitchCase="'brussels'">{{'push-notification-subscription.brussels' | translate}}</p>
  </div>
  <div>
    {{notification.body}}
  </div>
</ion-content>