ion-button {
    --opacity: 1;
    position: absolute;
    top: 140px;
    right: -1px;
    --border-radius: 0;
    --padding-bottom: 0;
    --padding-top: 0;
    --padding-end: 0;
    margin: 0;
    height: auto;
}