<ion-slides pager #slider (ionSlideDidChange)="slideChanged()" [options]="sliderOptions">
  <ion-slide *ngFor="let loc of belaqiLocations">
    <div *ngIf="loc.latitude" style="width: 100%">
      <div class="wheel">
        <belaqi-wheel [latitude]="loc.latitude" [longitude]="loc.longitude" (ready)="resizeSlide()"></belaqi-wheel>
      </div>
      <div class="chart">
        <belaqi-chart [location]="loc" (ready)="resizeSlide()"></belaqi-chart>
      </div>
      <div *ngIf="showSubIndexPanel">
        <sub-index-panel [location]="loc" (ready)="resizeSlide()" (selected)="selectPhenomenon($event, loc, false)">
        </sub-index-panel>
      </div>
      <div *ngIf="showAnnualMeanPanel">
        <annual-mean-panel [location]="loc" (ready)="resizeSlide()" (selected)="selectPhenomenon($event, loc, true)">
        </annual-mean-panel>
      </div>
      <div *ngIf="showNearestStationsPanel">
        <nearest-measuring-station-panel [location]="loc" (selected)="selectPhenomenonLocation($event, loc, false)"
          (ready)="resizeSlide()"></nearest-measuring-station-panel>
      </div>
    </div>
    <div *ngIf="!currentLocationError && !loc.latitude" style="height: 300px; color: white;">
      <div text-wrap>{{'belaqi-user-location-slider.loading-current-location' | translate}}</div>
      <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="currentLocationError && !loc.latitude" style="height: 400px; color: white;">
      <div text-wrap>
        <h2 text-wrap>{{'belaqi-user-location-slider.current-location-error-header' | translate}}</h2>
      </div>
      <ion-item text-wrap>
        <p>{{'belaqi-user-location-slider.current-location-error-1' | translate}}</p>
      </ion-item>
      <ion-item text-wrap>
        <p>{{'belaqi-user-location-slider.current-location-error-2' | translate}}</p>
      </ion-item>
      <ion-item text-wrap>
        <p>{{'belaqi-user-location-slider.current-location-error-3' | translate}}</p>
      </ion-item>
      <div>
        <ion-button fill="outline" (click)="createNewLocation()">
          {{'belaqi-user-location-slider.create-new-location' | translate}}
        </ion-button>
      </div>
    </div>
  </ion-slide>
  <ion-slide *ngIf="!belaqiLocations?.length">
    <div class="create-new-location-slide">
      <ion-button (click)="createNewLocation()">
        {{'belaqi-user-location-slider.create-new-location' | translate}}
      </ion-button>
      <hr />
      <div class="settings">
        <ion-button (click)="navigateSettings()">
          <ion-icon slot="start" name="settings"></ion-icon>
          <span class="nav-butto-label">{{'settings.header' | translate}}</span>
        </ion-button>
      </div>
    </div>
    <hr />
  </ion-slide>
</ion-slides>