<ion-slides pager #slider (ionSlideDidChange)="slideChanged()" [options]="sliderOptions">
  <ion-slide *ngFor="let loc of belaqiLocations">
    <div *ngIf="loc.latitude" style="width: 100%">
      <div class="first-panel">
        <notification-panel></notification-panel>
        <div class="wheel">
          <belaqi-wheel [latitude]="loc.latitude" [longitude]="loc.longitude"></belaqi-wheel>
        </div>
      </div>
      <div class="chart">
        <belaqi-chart [location]="loc"></belaqi-chart>
      </div>
      <div *ngIf="showSubIndexPanel">
        <sub-index-panel [location]="loc" (selected)="selectPhenomenon($event, loc, false)">
        </sub-index-panel>
      </div>
      <div *ngIf="showAnnualMeanPanel">
        <annual-mean-panel [location]="loc" (selected)="selectPhenomenon($event, loc, true)"></annual-mean-panel>
      </div>
      <div *ngIf="showNearestStationsPanel">
        <nearest-measuring-station-panel [location]="loc" (selected)="selectPhenomenonLocation($event, loc, false)">
        </nearest-measuring-station-panel>
      </div>
    </div>
    <div *ngIf="!currentLocationError && !loc.latitude" style="height: 300px; color: white;">
      <div text-wrap>{{'belaqi-user-location-slider.loading-current-location' | translate}}</div>
      <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="currentLocationError && !loc.latitude" style="height: 400px; color: white;">
      <div text-wrap>
        <h2 text-wrap>{{'belaqi-user-location-slider.current-location-error-header' | translate}}</h2>
      </div>
      <ion-item text-wrap>
        <p style="margin: auto; text-align:center;">{{currentLocationError}}</p>
      </ion-item>
      <ion-item text-wrap>
        <p style="margin: auto; text-align:center;">{{currentLocationErrorExplanation}}</p>
      </ion-item>
    </div>
  </ion-slide>
  <ion-slide *ngIf="!belaqiLocations?.length">
    <last-slide></last-slide>
  </ion-slide>
</ion-slides>