belaqi-user-location-slider {
    .slide-zoom {
      height: 100%;
      padding-bottom: 30px;
    }
  
    ion-spinner {
      width: 50px;
      height: 50px;
    }
  
    .create-new-location-slide {
      padding: 20px 10px;
    }
  }
  