:host {

    .swiper-slide {
        overflow-y: scroll;
        display: block;
        padding-bottom: 30px;
    }

    ion-item {
        color: white;
        --color: white;
    }

    .first-panel {
        width: 90%;
        left: 5%;
        position: relative;

        .notification {
            background-color: #cf5756;
            color: white;
            padding: 5px;
            padding-bottom: 20px;
            margin-bottom: -15px;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }

        .wheel {
            height: 15em;
            position: relative;
        }
    }
}

// .slide-zoom {
//   height: 100%;
//   padding-bottom: 30px;
// }

// ion-spinner {
//   width: 50px;
//   height: 50px;
// }

// .create-new-location-slide {
//   padding: 20px 10px;
// }