<ion-slides pager #slider (ionSlideDidChange)="slideChanged()" [options]="sliderOptions">
  <ion-slide *ngFor="let loc of belaqiLocations" >
    <div *ngIf="loc.latitude" style="width: 100%">
      <div class="wheel">
        <belaqi-wheel [latitude]="loc.latitude" [longitude]="loc.longitude" (ready)="resizeSlide()"></belaqi-wheel>
      </div>
      <div class="chart">
        <belaqi-chart [location]="loc" (ready)="resizeSlide()"></belaqi-chart>
      </div>
      <div *ngIf="showSubIndexPanel">
        <sub-index-panel [location]="loc" (ready)="resizeSlide()" (selected)="selectPhenomenon($event, loc, false)"></sub-index-panel>
      </div>
      <div *ngIf="showAnnualMeanPanel">
        <annual-mean-panel [location]="loc" (ready)="resizeSlide()" (selected)="selectPhenomenon($event, loc, true)"></annual-mean-panel>
      </div>
      <div *ngIf="showNearestStationsPanel">
        <nearest-measuring-station-panel [location]="loc" (selected)="selectPhenomenonLocation($event, loc, false)"
          (ready)="resizeSlide()"></nearest-measuring-station-panel>
      </div>
    </div>
    <div *ngIf="!currentLocationError && !loc.latitude" style="height: 300px;">
      <div text-wrap>{{'belaqi-user-location-slider.loading-current-location' | translate}}</div>
      <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="currentLocationError && !loc.latitude" style="height: 350px;">
      <div text-wrap>{{'belaqi-user-location-slider.current-location-error-header' | translate}}</div>
      <ion-item text-wrap>{{'belaqi-user-location-slider.current-location-error-1' | translate}}</ion-item>
      <ion-item text-wrap>{{'belaqi-user-location-slider.current-location-error-2' | translate}}</ion-item>
      <ion-item text-wrap>{{'belaqi-user-location-slider.current-location-error-3' | translate}}</ion-item>
      <div>
        <ion-button fill="outline" (click)="createNewLocation()">
          {{'belaqi-user-location-slider.create-new-location' | translate}}
        </ion-button>
      </div>
    </div>
  </ion-slide>
  <ion-slide [ngStyle]="{'min-height': slidesHeight}">
    <div class="faq-slide">
      <div>
        <!-- <ion-button fill="outline" (click)="navigateFAQ()">
          {{'belaqi-user-location-slider.faq' | translate}}
        </ion-button> -->
      </div>
    </div>
    <div class="create-new-location-slide">
      <div>
        <ion-button fill="outline" (click)="createNewLocation()">
          {{'belaqi-user-location-slider.create-new-location' | translate}}
        </ion-button>
      </div>
      <div>
        <ion-button fill="outline" (click)="openUserLocation()">
          {{'belaqi-user-location-slider.open-user-location' | translate}}
        </ion-button>
      </div>
      <ion-list>
        <ion-item>
          <!-- <geolocation-enabled></geolocation-enabled> -->
        </ion-item>
        <ion-item>
          <ion-label>
            <h2 text-wrap>{{'belaqi-user-location-slider.current-location' | translate}}</h2>
            <p text-wrap>{{'belaqi-user-location-slider.current-location-description' | translate}}</p>
          </ion-label>
          <ion-toggle (ngModelChange)="changeCurrentLocation($event)" [(ngModel)]="showCurrentLocation"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <hr />
    <div class="settings">
      <ion-button fill="outline" (click)="navigateSettings()">
        <ion-icon slot="start" name="settings"></ion-icon>
        <span class="nav-butto-label">{{'settings.header' | translate}}</span>
      </ion-button>
    </div>
  </ion-slide>
</ion-slides>