<ion-list>
  <ion-item *ngIf="loading" text-center>
    loading...
  </ion-item>
  <ion-item *ngFor="let item of items" (click)="onSelectItem(item)">
    <ion-label> {{item.label}} </ion-label>
    <ion-radio checked="{{selectionId === item.id}}" (ionSelect)="onSelectItem(item)"></ion-radio>
  </ion-item>
</ion-list>

<!-- <div *ngIf="loading">
  loading...
</div>
<div *ngIf="!loading && items?.length === 0">
  no results found
</div>
<div class="selector-entry" *ngFor="let item of items" (click)="onSelectItem(item)" [ngClass]="{'selected': selectionId === item.id}">
  <n52-label-mapper label="{{item.label}}"></n52-label-mapper>
</div> -->
