<ion-item [detail]="isButton" lines="none" class="ion-no-padding">
  <ng-container *ngIf="hasBackBtn; else line">
    <ion-button (click)="goBack()" fill="clear" class="back-btn">
      <ion-icon class="icon-standard" slot="icon-only" src="/assets/images/icons/arrow-left.svg"></ion-icon>
      <span class="arrow-back icon-dark" [ngStyle]="{'border-color': detailedDataPoint.color}"></span>
    </ion-button>
  </ng-container>
  <ng-template #line>
    <span class="line" [ngStyle]="{'background-color': detailedDataPoint.color}"></span>
  </ng-template>

  <ion-label class="ion-text-wrap">
    <ion-text>
      <h3 *ngIf="detailedDataPoint.substance.name && detailedDataPoint.substance.abbreviation">
        {{detailedDataPoint.substance.name | translate}}
        <!-- <span>(<span [innerHTML]="detailedDataPoint.substance.abbreviation"></span>)</span> -->
        <span>({{detailedDataPoint.substance.abbreviation | translate}})</span>
      </h3>
      <span [ngStyle]="{'color': detailedDataPoint.color}"
        *ngIf="detailedDataPoint.mainTab">{{ detailedDataPoint.evaluation | translate }}</span>
      <span [ngStyle]="{'color': detailedDataPoint.color}"
        *ngIf="detailedDataPoint.showThreshold">{{ detailedDataPoint.evaluation | translate }}</span>
    </ion-text>
    <ion-text>
      <p>
        <span *ngIf="detailedDataPoint.mainTab">
          {{ detailedDataPoint.currentValue }} {{ detailedDataPoint.substance.unit }}
          {{ 'v2.components.information-item.personal-calculation' | translate }}
        </span>
        <span *ngIf="detailedDataPoint.currentValue && detailedDataPoint.showThreshold">
          {{ 'v2.components.information-item.eu-threshold' | translate }}:
        </span>
        <span class="value" *ngIf="detailedDataPoint.currentValue && detailedDataPoint.showThreshold">
          {{detailedDataPoint.euBenchMark}} {{ detailedDataPoint.substance.unit }}
        </span><br />
        <span *ngIf="detailedDataPoint.currentValue && detailedDataPoint.showThreshold">
          {{ 'v2.components.information-item.who-threshold' | translate }}:
        </span>
        <span class="value" *ngIf="detailedDataPoint.currentValue && detailedDataPoint.showThreshold">
          {{detailedDataPoint.worldBenchMark}} {{ detailedDataPoint.substance.unit }}
        </span>
        <span *ngIf="detailedDataPoint.averageValue">
          {{ 'v2.components.information-item.average' | translate }} {{ detailedDataPoint.averageValue }} {{
          detailedDataPoint.substance.unit }}
        </span>
        <span *ngIf="detailedDataPoint.lastAnnualIndex" style="text-transform:lowercase;">
          <span> {{ 'v2.components.information-item.average' | translate }} </span>
          <strong
            [ngStyle]="{'color': detailedDataPoint.lastAnnualIndex.color}">{{ detailedDataPoint.lastAnnualIndex.label | translate}}
          </strong>
        </span>
      </p>
    </ion-text>
  </ion-label>
</ion-item>
