<ion-item [button]="isButton" lines="none" class="ion-no-padding">
  <ng-container *ngIf="hasBackBtn; else line">
    <ion-button (click)="goBack()" fill="clear" class="back-btn">
      <ion-icon slot="icon-only" src="/assets/images/icons/arrow-left.svg"></ion-icon>
    </ion-button>
  </ng-container>
  <ng-template #line>
    <span class="line" [ngStyle]="{'background-color': detailedDataPoint.color}"></span>
  </ng-template>

  <ion-label class="ion-text-wrap">
    <ion-text>
      <h3 *ngIf="detailedDataPoint.substance.name && detailedDataPoint.substance.abbreviation">
        {{detailedDataPoint.substance.name}} (
        <span [innerHTML]="detailedDataPoint.substance.abbreviation"></span>
        )
      </h3>
      <span [ngStyle]="{'color': detailedDataPoint.color}">{{ detailedDataPoint.evaluation }}</span>
    </ion-text>
    <ion-text>
      <p>
        {{ detailedDataPoint.currentValue }} {{ detailedDataPoint.substance.unit }} berekend op jouw locatie,
        gemiddeld is dit {{ detailedDataPoint.averageValue }} {{ detailedDataPoint.substance.unit }}
      </p>
    </ion-text>
  </ion-label>
</ion-item>