<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{'user-location-list.header' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="toggleReorder()">
        <ion-icon name="list"></ion-icon>
      </button>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">{{'controls.cancel' | translate}}</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="cards-bg">
  <ion-list [reorder]="reorder" class="location-list" (ionItemReorder)="reorderItems($event)">
    <ion-item *ngFor="let location of locations; let i = index;">

      <div *ngIf="location.type === 'user'">
        <div class="header">
          {{location.label}}
        </div>
        <div class="map" [hidden]="reorder">
          <ion-fab bottom right class="button-edit" (click)="editLocation(location)">
            <button ion-fab mini>
              <ion-icon name="build"></ion-icon>
            </button>
          </ion-fab>
          <ion-fab bottom right class="button-delete" (click)="removeLocation(location)">
            <button ion-fab mini>
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-fab>
          <extended-geometry-map-viewer [mapId]="location.label" [geometry]="location.point" [mapOptions]="mapOptions"></extended-geometry-map-viewer>
        </div>
      </div>

      <div *ngIf="location.type === 'current'">
        <!-- <ion-list reorder="false"> -->
          <!-- <ion-item> -->
            <!-- <ion-label>Daenerys Targaryen</ion-label> -->
            <ion-checkbox color="dark" checked="true"></ion-checkbox>
          <!-- </ion-item> -->
        <!-- </ion-list> -->
      </div>

    </ion-item>
  </ion-list>
</ion-content>
