modal-user-location-list {

  .location-list {
    .header {
      padding: 10px 0px;
    }
  }

  .map {
    height: 200px;
    position: relative;

    .button-delete,
    .button-edit {
        bottom: 20px;
    }

    .button-edit {
        right: calc(60px + env(safe-area-inset-right));
    }
  }

  .create-new-location {
    text-align: center;
  }
}
