<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{'user-location-list.header' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="toggleReorder()">
        <ion-icon name="list"></ion-icon>
      </button>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">{{'controls.cancel' | translate}}</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="cards-bg">
  <ion-list [reorder]="reorder" class="location-list" (ionItemReorder)="reorderItems($event)">
    <div *ngFor="let location of locations; let i = index;">

      <ion-item *ngIf="location.type === 'user'">
        <div>
          <div class="header">
            {{location.label}}
          </div>
          <div class="map" [hidden]="reorder">
            <ion-fab bottom right class="button-edit" (click)="editLocation(location)">
              <button ion-fab mini>
                <ion-icon name="build"></ion-icon>
              </button>
            </ion-fab>
            <ion-fab bottom right class="button-delete" (click)="removeLocation(location)">
              <button ion-fab mini>
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-fab>
            <extended-geometry-map-viewer [mapId]="location.label" [geometry]="location.point" [mapOptions]="mapOptions"></extended-geometry-map-viewer>
          </div>
        </div>
      </ion-item>

      <ion-item *ngIf="location.type === 'current'">
        <ion-label>
          <h2>Current location</h2>
          <p>The location where you are currently...</p>
        </ion-label>
        <ion-toggle [(ngModel)]="showCurrentLocation"></ion-toggle>
      </ion-item>

    </div>
  </ion-list>
  <ion-card class="create-new-location">
    <button ion-button outline (click)="createNewLocation()">{{'settings.user-locations.create-new-location' | translate}}</button>
  </ion-card>
</ion-content>
