<ion-content>
  <app-location-swipe (locationChange)="onLocationChange($event)" [locations]="locations"></app-location-swipe>
  <app-circle-chart [belAqi]="currentActiveIndex.indexScore" [text]="'Gemiddelde score op jouw locatie is goed.'">
  </app-circle-chart>
  <app-time-line-list [items]="belAqiForCurrentLocation"></app-time-line-list>
</ion-content>

<app-pull-tab [options]="drawerOptions">
  <div class="details">
    <h5>Bekijk in detail</h5>

    <ion-item button lines="none" class="ion-no-padding">
      <ion-label>Click me</ion-label>
    </ion-item>
  </div>
</app-pull-tab>