<ion-content [scrollY]="false">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-background>
    <div class="wrapper" [ngStyle]="{'height': contentHeight + 'px'}">
      <app-location-swipe (locationChange)="onLocationChange($event)" [locations]="locations">
      </app-location-swipe>
      <app-circle-chart #chart></app-circle-chart>
      <app-time-line-list (dayChange)="onDayChange($event)" [items]="belAqiForCurrentLocation">
      </app-time-line-list>
      <app-info-button></app-info-button>
    </div>
  </app-background>
</ion-content>

<app-pull-tab [options]="drawerOptions">
  <div class="details--wrapper" [ngClass]="{'inactive': detailPoint, 'active': !detailPoint}">
    <ng-container *ngIf="!detailPoint">
      <div class="details">
        <h5>{{ 'v2.screens.main-screen.view-details' | translate }}</h5>

        <app-information-item *ngIf="belaqiDetailData" [detailedDataPoint]="belaqiDetailData"
          [isButton]="true" (click)="openBelaqiDetails()">
        </app-information-item>

        <app-information-item *ngFor="let detailDataPoint of detailData" [detailedDataPoint]="detailDataPoint"
          [isButton]="true" (click)="openDetails(detailDataPoint)">
        </app-information-item>

      </div>

      <!-- <app-horizontal-cards-slider [data]="slidesData"></app-horizontal-cards-slider> -->
    </ng-container>
  </div>

  <div class="details--wrapper" [ngClass]="{'active': detailPoint, 'inactive': !detailPoint}">
    <div class="details" *ngIf="detailPoint">
      <h5>{{ 'v2.screens.main-screen.view-details' | translate }}</h5>

      <app-information-item-details [detailPoint]="detailPoint" (backClicked)="detailPoint = null">
      </app-information-item-details>

      <app-time-line-list class="details--timeline" (dayChange)="onDetailsDayChange($event)" [items]="valueTimeline">
      </app-time-line-list>

      <app-value-display [index]="selectedResult?.indexScore" [score]="selectedResult?.value" [value]="detailPoint.substance.unit"></app-value-display>

      <app-parameter-information [parameter]="detailPoint.substance.phenomenon"></app-parameter-information>

      <map-component [currentLocation]="userSettingsService.selectedUserLocation"
        [phenomenon]="detailPoint.substance.phenomenon" [valueDate]="selectedResult?.valueDate"></map-component>
      <div class="longterm">
        <ion-item>
            <ion-label [routerLink]="['/main/longterm-info']" text-wrap>
              {{ 'v2.screens.main-screen.long-term-calculation' | translate }} ></ion-label>
        </ion-item>
      </div>
    </div>
  </div>
</app-pull-tab>
