@import '../../theme/variables';

ion-content {
    --background: transparent;
    --padding-top: 56px;
}

app-pull-tab ::ng-deep {
    .details {
        padding: 45px;
        display: block;

        h5 {
            font-size: 18px;
            font-weight: bold;
            color: #23b1d6;
            position: relative;
            margin-bottom: 40px;
            margin-top: 0;

            &:after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 37px;
                height: 1px;
                background: rgba(#e0e0e0, 0.7);
            }
        }

        &--wrapper {
            transition: all .3s ease;
            position: absolute;
            width: 100%;
            top: 0;

            &.inactive {
                opacity: 0;
                transition-delay: 0.3s;
                transform: translateY(20px);
            }

            &.active {
                opacity: 1;
                transition-delay: 0.3s;
                transform: translateY(0px);
            }
        }
    }
}

ion-item {
    color: #1ebce5;
    --padding-start: 0;
    margin-top: 45px;
    --border-color: #1ebce5;
    --detail-icon-opacity: 1;
    --detail-icon-color: #1ebce5;
}

ion-label {
    outline: none;
}

app-value-display {
    margin: 20px 0;
    position: relative;

    &:before {
        height: 1px;
        width: 100%;
        content: '';
        position: absolute;
        left: -100%;
        background-color: #eee;
    }

    &:after {
        height: 1px;
        width: 100%;
        content: '';
        position: absolute;
        right: -100%;
        background-color: #eee;
    }
}

.details--timeline ::ng-deep {
    margin: 10px -45px 20px -45px;
    height: 100px;

    .swiper-container {
        overflow: initial;
    }

    .swiper-slide-active {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 20px;
            background: #eee;
            top: 100%;
            bottom: 0;
        }
    }

    .timeline--item {
        background: rgba(black, 0.04);

        &-status {
            color: #747474;
        }

        &-day {
            color: #747474;
        }
    }
}

map-component {
  width: 100%;
  position: absolute;
  left: 0;
  padding-bottom: 60px;
}
.longterm {
  position: fixed;
  bottom: -310px;
  right: 0px;
  padding-left: 5px;
  ion-item {
    width: 100%;
    text-align: center;
    font-size: 1em;
  }
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;

    app-location-swipe {
        // background: green;
    }

    app-circle-chart {
        height: calc(100% - 183px);
        vertical-align: middle;
        display: inline-grid;
        // background-color: red;
    }

    app-time-line-list {
        height: 100px;
        margin: 25px 0 15px;
        max-height: 14vh;
        // background-color: yellow;
    }
}

.no-locations {

    padding: 20px;

    .no-locations-hint {
        color: white;
        padding: 70px 20px;
        text-align: center;
    }
}
