@import '../../theme/variables.scss';

.high-contrast {
  :host {
    h5 {
      color: $black;
      &:after {
        height: 2px;
        background: rgba($black, 0.3);
      }
    }

    .longterm {
      ion-item {
        color: $black;
        --border-color: transparent;
        ion-label {
          border-bottom: 1px solid $black;
        }
      }
    }
  }
}
