@import '../../theme/variables';

ion-content {
  --background: transparent;
  --padding-top: 65px;
}

app-pull-tab ::ng-deep {
  .details {
    padding: 45px 30px 45px 45px;
    display: block;

    h5 {
      font-size: 18px;
      font-weight: bold;
      color: #23b1d6;
      position: relative;
      margin-bottom: 55px;

      &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 37px;
        height: 1px;
        background: rgba(#e0e0e0, 0.7);
      }
    }
  }
}

ion-item {
  color: #1ebce5;
  --padding-start: 0;
  margin-top: 45px;
  --border-color: #1ebce5;
  --detail-icon-opacity: 1;
  --detail-icon-color: #1ebce5;
}