<ion-content>
  <div class="wrapper">
    <div class="content">
      <h1>Belair</h1>
      <p>{{ 'loader.text' | translate }}</p>
      <img class="flanders" src="/assets/wind.svg" alt="">
      <img class="flanders dark" src="/assets/wind-dark.svg" alt="">
      <!-- <span>{{ 'loader.subtitle' | translate }}</span> -->
    </div>

    <div class="images">
      <div class="images-group">
        <img class="wallonia" src="/assets/images/awac.svg" alt="">
        <img class="brussels" src="/assets/images/ibge-bim.svg" alt="">
      </div>
      <div class="images-group">
        <img class="flanders" src="/assets/images/vmm.svg" alt="">
        <img class="wallonia" src="/assets/images/irceline.png" alt="">
      </div>
    </div>

    <div class="images dark">
      <div class="images-group">
        <img class="wallonia" src="/assets/images/awac-dark.svg" alt="">
        <img class="brussels" src="/assets/images/ibge-bim-dark.svg" alt="">
      </div> 
      <div class="images-group">
        <img class="flanders" src="/assets/images/vmm-dark.svg" alt="">
        <img class="wallonia" src="/assets/images/irceline-dark.png" alt="">
      </div>
    </div>
  </div>
</ion-content>
