<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{'settings.user-locations.create-new-location' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">{{'controls.cancel' | translate}}</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <user-location-creation></user-location-creation>
</ion-content>
