<overlay-info-drawer>
  <div class="drawer-content">
    <div>
      <h2 text-center>{{'start.overlay.header' | translate}}</h2>
    </div>
    <div>
      <p>{{'start.overlay.content-p1' | translate}}</p>
    </div>
    <div>
      <p>{{'start.overlay.content-p2' | translate}}</p>
    </div>
    <div>
      <p>{{'start.overlay.content-p3' | translate}}</p>
    </div>
    <div>
      <p>{{'start.overlay.content-p4' | translate}}</p>
    </div>
  </div>
</overlay-info-drawer>

<ion-content>
  <div style="margin-top: 45px; height: calc(100% - 45px);">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'refresh.pull-message' | translate}}"
        refreshingSpinner="circles" refreshingText="">
      </ion-refresher-content>
    </ion-refresher>

    <slider-header [header]="sliderHeader"></slider-header>

    <belaqi-user-location-slider #slider (phenomenonSelected)="navigateToMap($event)"
      (headerContent)="sliderHeader = $event"></belaqi-user-location-slider>
  </div>
</ion-content>