<ion-content class="cards-bg" #content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'refresh.pull-message' | translate}}"
      refreshingSpinner="circles" refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="slider-card">
    <ion-list mode="md">
      <!-- <ion-item class="location-header" [ngClass]="{'ion-affix': isSticky}" ion-affix [content]="content"> -->
      <div class="location-label" text-wrap *ngIf="sliderHeaderContent">
        {{sliderHeaderContent?.label}}
      </div>
      <div class="location-date" text-wrap *ngIf="sliderHeaderContent">
        <span>{{'menu.lastUpdate' | translate}}: </span>
        <span>{{sliderHeaderContent?.date | date : 'd MMMM y, HH:mm': null: translateSrvc.currentLang}} </span>
        <span *ngIf="sliderHeaderContent?.current"> - {{'belaqi-user-location-slider.current-location' | translate}}</span>
      </div>
      <!-- </ion-item> -->
      <ion-item>
        <belaqi-user-location-slider (phenomenonSelected)="navigateToMap($event)" (headerContent)="setHeaderContent($event)"></belaqi-user-location-slider>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>