air-quality-location-panel {
  .aqIndex-1 {
    background-color: #0000FF;
    color: white;
  }
  .aqIndex-2 {
    background-color: #0099FF;
  }
  .aqIndex-3 {
    background-color: #009900;
  }
  .aqIndex-4 {
    background-color: #00FF00;
  }
  .aqIndex-5 {
    background-color: #FFFF00;
  }
  .aqIndex-6 {
    background-color: #FFBB00;
  }
  .aqIndex-7 {
    background-color: #FF6600;
  }
  .aqIndex-8 {
    background-color: #FF0000;
    color: white;
  }
  .aqIndex-9 {
    background-color: #990000;
    color: white;
  }
  .aqIndex-10 {
    background-color: #660000;
    color: white;
  }
  .location,
  .value {
    font-size: 120%;
  }
  .small {
    font-size: 80%;
  }
}
