:host {
  padding-top: 56px;

  .menu {
    z-index: 11;
    overflow: auto;
    position: relative;

    .icon-standard,
    .text-standrad {
      display: block;
    }

    .icon-dark,
    .text-dark {
      display: none;
    }

    &--link {
      --color: white;
      --min-height: 70px;
      font-weight: 600;
      font-size: 16px;
      --detail-icon-opacity: 1;
    }

    &--language {
      margin-top: 42px;
    }

    &--section {
      border-bottom: 1px solid rgba(white, 0.45);
      padding: 0 30px;

      &.info {
        h4 {
          margin-bottom: 0px;
        }
        ion-item {
          --detail-icon-font-size: 27px;
          padding: 15px 0px;
        }
      }

      &.locations {
        margin-top: 35px;
        padding-bottom: 25px;
      }

      &.notifications {
        border-bottom: 0;
        padding-top: 26px;
        h5 {
          margin-bottom: 0px;
        }
      }

      &.logo {
        text-align: center;
        color: #ffffff;
        padding: 35px 0;

        h3 {
          font-family: var(--ion-cookie-family);
          font-size: 40px;
          margin: 0;
          line-height: 25px;
        }

        p {
          opacity: 0.7;
          font-size: 13px;
          margin: 0;
        }
      }

      &.style {
        padding: 20px;
      }

      h4 {
        font-size: 24px;
        font-weight: normal;
        text-align: center;
        color: white;
        margin-top: 25px;
      }

      h5 {
        font-size: 16px;
        font-weight: bold;
        color: white;
        padding-inline-start: 16px;
        // margin: 0 16px;
      }

      ::ng-deep .language--dropdown {
        margin-top: 10px;
        margin-bottom: 40px;
      }

      ::ng-deep .location {
        margin-bottom: 20px;
      }

      ion-item {
        --color: white;
        font-size: 16px;
        --detail-icon-opacity: 1;
        --inner-padding-bottom: 0;
        --inner-padding-top: 0;

        ion-icon {
          color: rgba(white, 0.64);
        }

        ion-label {
          span {
            display: block;
            font-weight: normal;
          }
        }
      }

      ion-reorder-group {
        margin-bottom: 10px;
        display: block;

        ion-item {
          padding-inline-start: 12px;

          ion-icon {
            margin-right: 15px;
          }
        }
      }

      app-user-notification-settings ::ng-deep {
        ion-item {
          padding-inline-start: 16px;
        }
      }
    }
  }
}
