<overlay-info-drawer [(state)]="drawerState" [dockedHeight]="dockedHeight">
  <div class="drawer-content">
    <div>
      <h2 text-center>{{'map.overlay.header' | translate}}</h2>
    </div>
    <div>
      <p>{{'map.overlay.content-p1' | translate}}</p>
    </div>
    <div>
      <p text-center><img src="{{'map.overlay.url-svg' | translate}}"></p>
    </div>
    <div>
      <p>{{'map.overlay.content-p2' | translate}}</p>
    </div>
  </div>
</overlay-info-drawer>

<ion-content>
  <div style="margin-top: 45px; height: calc(100% - 45px)">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'refresh.pull-message' | translate}}"
        refreshingSpinner="circles" refreshingText="">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list mode="md">
      <ion-row text-center class="location-header">
        <ion-label text-wrap *ngIf="sliderHeaderContent">
          <ion-text class="location-label">
            <h2>{{sliderHeaderContent?.label}}</h2>
          </ion-text>
          <p class="date-label">
            <span>{{'menu.lastUpdate' | translate}}: </span>
            <span class="date-label">{{sliderHeaderContent?.date | date : 'd MMMM y, HH:mm': null:
              translateSrvc.currentLang}} </span>
            <span *ngIf="sliderHeaderContent?.current"> - {{'belaqi-user-location-slider.current-location' |
              translate}}</span>
          </p>
        </ion-label>
        <div class="settingsButton">
          <ion-button (click)="navigateSettings()">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
      </div>
        </ion-row>
    </ion-list>
    <belaqi-map-slider #slider (headerContent)="setHeaderContent($event)"></belaqi-map-slider>
  </div>
</ion-content>