ion-content {
    --background: transparent;
    --padding-top: calc(56px + env(safe-area-inset-top));

    .rating {
        padding: 20px;
    }

    p {
        margin: 0;
    }

    .rating-content {
        overflow-y: auto;
        height: calc(100vh - 56px);
        padding-bottom: 70px;
    }

    .rating-form-top {
        height: 56px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .report-title {
        font-size: 18px;
        font-weight: 700;
        color: white;
        margin-bottom: 20px;
        text-align: center;
    }

    .pill {
        border-radius: 1000px;
        border: 1px solid #FFFFFF33;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-bottom: 8px;

        p {
            color: white;
            font-size: 18px;
            font-weight: 500;
        }

        &.calendar {
            margin-top: 16px;
            margin-bottom: 32px;
        }
    }

    .no-location-desc {
        font-size: 11px;
        color: #F0F0F0;
    }

    .cause-title {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 8px;
        color: white;
    }

    .cause-item {
        display: flex;
        align-items: center;
        padding: 10px 0 10px 16px;
        background-color: #FFFFFF1A;
        border-radius: 10px;
        border: 1px solid #FFFFFF33;
        --min-height: 22px;
        font-size: 15px;
        color: white;
        margin-bottom: 8px;

        ion-label {
            margin: 0;
            line-height: 1;
        }

        ion-icon {
            font-size: 20px;
            margin: 0;
            margin-right: 10px;
            height: 20px !important;
        }

        .cause-label {
            display: flex;
            align-items: center;
        }

        &.active {
            justify-content: space-between;
            background-color: white;

            ion-label {
                color: #747474;
            }
        }
    }

    .causes {
        margin-bottom: 32px;
    }

    .specify-cause {
        margin-top: 16px;

        p {
            font-size: 15px;
            color: white;
            font-weight: 500;
            margin-bottom: 8px;
        }

        input {
            outline: none;
            border: 1px solid #FFFFFF33;
            border-radius: 10px;
            padding: 10px 16px;
            color: white;
            background-color: #FFFFFF1A;
            width: 100%;

            &::placeholder {
                color: white;
                opacity: 0.5;
            }
        }
    }

    .situation {
        p {
            font-size: 15px;
            color: white;
            font-weight: 500;
            margin-bottom: 8px;
        }

        textarea {
            width: 100%;
            height: 150px;
            padding: 12px 16px;
            background-color: #FFFFFF1A;
            border: 1px solid #FFFFFF33;
            border-radius: 10px;
            outline: none;
            color: white;

            &::placeholder {
                color: white;
                opacity: 0.5;
            }
        }
    }

    .submit {
        background-color: white;
        border-radius: 10px;
        text-transform: none;
        width: calc(100% - 40px);
        height: 42px;
        font-size: 15px;
        font-weight: 500;
        position: fixed;
        bottom: 19px;
    }
}