<button #trigger type="button" class="trigger">
  <span></span>
</button>

<ion-content class="content-wrapper" [scrollY]="isEnabled" [ngStyle]="{'pointer-events': isEnabled ? 'auto' : 'none'}"
  [forceOverscroll]="false">
  <ng-content></ng-content>
</ion-content>

<button (click)="handleTap()" type="button" class="trigger-up img-standard">
  <img src="/assets/images/icons/arrow-up.svg" alt="" [ngClass]="{'rotate': isEnabled}">
</button>
<button (click)="handleTap()" type="button" class="trigger-up img-dark">
  <img src="/assets/images/icons/arrow-up-dark.svg" alt="" [ngClass]="{'rotate': isEnabled}">
</button>