mobile-geosearch-control {
    background-color: white;
    padding: 3px;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    input {
        border-width: 0px;
    }
    ion-spinner {
        height: 14px;
    }
}