:host {
    flex: 1;
    width: 100%;

    .circle {
        display: block;
        width: 100%;
        margin: auto;
        max-width: 315px;
        transition: all .2s ease;

        &-chart {
            display: flex;
            align-items: center;
            justify-content: center;

            &--text {
                position: absolute;
                width: 316px;
                padding: 0 60px;
                color: #ffffff;
                text-align: center;

                h1 {
                    font-size: 5vh;
                    line-height: 0.78;
                    margin-bottom: 20px;
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    @media screen and (max-device-width: 374px) {
                        font-size: 4.5vh;
                    }
                }

                p {
                    font-size: 11px;
                    max-width: 134px;
                    margin: auto;
                }
            }
        }

        .line {
            transition: all 0.8s ease-in-out;
        }

        .path {
            offset-path: path('M164.945134,299.264809 C240.771271,291.764363 300,227.798987 300,150 C300,67.1572875 232.842712,0 150,0 C67.1572875,0 0,67.1572875 0,150 C0,227.795103 59.2228153,291.757977 135.04351,299.264809'
                );
            transition: all 0.8s ease-in-out;
        }
    }
}

.pulsing {
    animation-iteration-count: 1;
    animation: pulse 0.6s;
    animation-direction: alternate;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}