$animationColor: white;
:host {
    flex: 1;
    width: 100%;

    .circle {
        display: block;
        // width: 84%;
        margin: auto;
        max-width: 480px;
        min-height: 320px;
        transition: all 0.2s ease;

        @media screen and (max-height: 750px) {
            min-height: 300px;
        }
        @media screen and (max-height: 700px) {
            min-height: 260px;
        }
        @media screen and (max-height: 650px) {
            min-height: 250px;
        }

        &-chart {
            display: flex;
            align-items: center;
            justify-content: center;
            // margin: 0 4%;
            &--text {
                position: absolute;
                width: 86%;
                max-width: 380px;
                padding: 0 60px;
                color: #ffffff;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media screen and (min-width: 640px) {
                    max-width: 400px;
                }

                .loader {
                    background: transparent;
                    border-radius: 50%;
                    box-shadow: 0 0 0 0 rgba($animationColor, 1);
                    padding: 10px;
                    margin-bottom: 20px;
                    height: 120px;
                    width: 120px;
                    transform: scale(1);
                    animation: pulseanim 1s infinite;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &-text {
                        font-size: 11px;
                    }
                }
                h1 {
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 0.78;
                    margin-bottom: 20px;
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.3s ease-in-out;

                    &.small {
                        font-size: 37px;
                    }

                    @media screen and (max-height: 780px) {
                        font-size: 44px;
                    }
                    @media screen and (max-height: 750px) {
                        font-size: 42px;
                    }
                    @media screen and (max-height: 700px) {
                        font-size: 40px;
                    }
                    @media screen and (max-height: 650px) {
                        font-size: 38px;
                    }
                    @media screen and (max-width: 450px) {
                        font-size: 46px;
                    }
                    @media screen and (max-width: 430px) {
                        font-size: 45px;
                    }
                    @media screen and (max-width: 427px) {
                        font-size: 44px;
                    }
                    @media screen and (max-width: 425px) {
                        font-size: 43px;
                    }
                    @media screen and (max-width: 410px) {
                        font-size: 42px;
                    }
                    @media screen and (max-width: 405px) {
                        font-size: 41px;
                    }
                    @media screen and (max-width: 400px) {
                        font-size: 40px;
                    }
                    @media screen and (max-width: 360px) {
                        font-size: 38px;
                    }
                    @media screen and (max-width: 350px) {
                        font-size: 37px;
                    }
                    @media screen and (max-width: 335px) {
                        font-size: 36px;
                    }
                }

                p {
                    font-size: 11px;
                    max-width: 134px;
                    margin: auto;

                    @media screen and (min-width: 640px) {
                        font-size: 16px;
                        line-height: 1.5;
                        max-width: 190px;
                    }
                }
            }
        }

        .line {
            transition: all 0.8s ease-in-out;
        }

        .path {
            offset-path: path(
                'M164.945134,299.264809 C240.771271,291.764363 300,227.798987 300,150 C300,67.1572875 232.842712,0 150,0 C67.1572875,0 0,67.1572875 0,150 C0,227.795103 59.2228153,291.757977 135.04351,299.264809'
            );
            transition: all 1.1s ease-in-out;

            &.active {
                transition: all 0.9s ease-in-out;
            }
        }
    }
}

.pulsing {
    animation-iteration-count: 1;
    animation: pulse 0.6s;
    animation-direction: alternate;
}

// this is not pulsing
@keyframes pulse {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulseanim {
    0% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba($animationColor, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba($animationColor, 0);
    }

    100% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba($animationColor, 0);
    }
}
