@import '../../theme/variables';

.high-contrast {
    :host {
        .circle {
            &-chart {
                &--text {
                    color: $black;
                    .loader {
                        box-shadow: 0 0 0 0 rgba($black, 1);
                        animation: pulseanimHc 1s infinite;
                    }
                }
            }
        }
    }
}

@keyframes pulseanimHc {
    0% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba($black, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba($black, 0);
    }

    100% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba($black, 0);
    }
}
