<div class="chart-label">{{label}}</div>
<ion-row nowrap>
  <ion-button mode="md" size="small" *ngIf="canBack" class="prev-button" fill="clear" (click)="back.emit()">
    <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
  </ion-button>
  <div class="chart-label-time">{{timeLabel}}</div>
  <ion-button mode="md" size="small" [ngClass]="{'hidden': !canForward}" class="next-button" fill="clear" (click)="forward.emit()">
    <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
  </ion-button>
</ion-row>
<div class="chart-wrapper">
  <canvas #chart></canvas>
  <div *ngIf="loading" class="loading">
    {{'single-chart.loading' | translate}}
  </div>
  <div class="loading" *ngIf="error">{{'diagram-slider.chart.error' | translate}}</div>
</div>
