:host {
  .chart {
    position: relative;
  }

  .error {
    padding: 10px;
    white-space: normal;
  }

  .info-button {
    position: absolute;
    top: 0;
    right: 0;

    ion-button {
      color: black;
    }
  }

  .chart-label {
    position: relative;
    padding: 0 0.6em;
    text-align: center;
    flex: none;
    min-height: 1em;
    width: 90%;
    left: 5%;
    background-color: var(--ion-color-secondary-contrast);
    border-radius: 1em 1em 0 0;
    visibility: visible;
  }

  .chart-label-time {
    position: relative;
    max-width: 60%;
    padding: 0 0.6em;
    text-align: center;
    flex: none;
    min-height: 1em;
    border-radius: 0;
    padding-top: 0.5em;
    background-color: var(--panel-background);
    padding-bottom: 0.2em;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto;
  }

  ion-row {
    align-items: center;
    justify-content: center;
    background: var(--panel-background);
    width: 90%;
    margin-left: 5%;
  }

  .hidden {
      visibility: hidden;
  }

  .prev-button,
  .next-button {
    z-index: 1;
  }

  @media screen and (max-width: 500px) {
    .chart-label {
      font-size: 0.9em;
    }
  }
  @media screen and (max-width: 400px) {
    .chart-label {
      font-size: 0.8em;
    }
  }
  @media screen and (max-width: 300px) {
    .chart-label {
      font-size: 0.7em;
    }
  }

  .chart-wrapper {
    width: 90%;
    left: 5%;
    position: relative;
    background-color: var(--panel-background);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
