@import '../../theme/variables';

.high-contrast {
    :host {
        .wrapper {
            background: white !important;


            .controls {
                display: flex;

                .button {
                    color: $black;
                }
            }
            .edit-location-hint {
                color: $black;
            }
            .edit-location-anonymise {
                color: $black;
            }
        }
    }
}
