<div class="wrapper" [ngStyle]="{'background-color': backgroundColor}">
    <div class="stats">
        <div class="title">{{ 'feedback.stats.submission' | translate }}</div>
        <div class="today">{{ 'feedback.stats.submission-today' | translate }}: {{feedbackStats?.submissions_day}}</div>
        <div class="total">{{ 'feedback.stats.submission-total' | translate }}: {{feedbackStats?.submissions_total}}</div>
        <div class="map">
            <app-feedback-stats-map [location]="location"></app-feedback-stats-map>
        </div>
    </div>
    <div class="anonymisation" text-wrap>
      {{ 'feedback.stats.anonymisation' | translate }}
    </div>
    <div class="controls">
        <div style="flex: 1;"></div>
        <ion-button fill="clear" (click)="close()">
            {{ 'controls.close' | translate }}
        </ion-button>
    </div>
</div>
