:host {
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

        .stats {
            flex: 1;
            display: flex;
            padding-top: 20px;
            flex-direction: column;

            .title,
            .today,
            .total {
                font-size: 18px;
                text-align: center;
                color: #ffffff;
                padding: 5px;
            }

            .map {
                flex: 1;
            }
        }

        .controls {
            display: flex;

            .button {
                color: white;
            }
        }
        .anonymisation {
            color: white;
            padding: 10px 20px;
            text-align: center;
            width: 100%;
            font-size: 0.9em;
        }
    }
}
