@import '../../theme/variables';

.high-contrast {
    :host {
        .wrapper {
            background-color: white !important;

            .stats {
                .title,
                .today,
                .total {
                    color: $black;
                }
            }

            .controls {
                .button {
                    color: $black;
                }
            }
            .anonymisation {
                color: $black;
                padding: 10px 20px;
                text-align: center;
                width: 100%;
                font-size: 0.9em;
            }
        }
    }
}
