:host {
  .images {
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 5em;
    left: 0.4em;
    max-height: 5.5em;
    max-width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;

    .dark {
      display: none;
    }
  }
  .image {
    max-width: 29%;
  }
  .image-2 {
    max-width: 40%;
  }
  img {
    margin: 0 !important;
    &.dark {
      display: none;
    }
  }
  .index-wheel {
    max-width: 60%;
    padding: 1em 0 2em;
  }
  .onboarding-content {
    position: relative;

    .button-wrapper {
      position: absolute;
      top: 15px;
      right: 20px;
      z-index: 10;
    }

    &.keyboard-shown {
      .button-wrapper {
        display: none;
      }
    }
  }
}
