<ion-content class="onboarding-content" [class.keyboard-shown]="keyboardShown">
    <div class="button-wrapper">
        <app-theme-button></app-theme-button>
    </div>
    <app-onboarding-slider (slideShowComplete)="onboardingComplete()" [disabled]="sliderDisabled">
        <ion-slide>
            <div class="slide">
                <div class="slide--content">
                    <h1 class="big">Belair</h1>
                    <p class="choose">{{ 'v2.screens.onboarding.choose-lang' | translate }}</p>

                    <!-- Language dropdown -->
                    <app-language-dropdown> </app-language-dropdown>
                    <div class="images">
                        <div class="image">
                            <img class="brussels" src="/assets/images/ibge-bim.svg" alt="">
                        </div>
                        <div class="image dark">
                            <img class="brussels" src="/assets/images/ibge-bim-dark.svg" alt="">
                        </div>
                        <div class="image-2">
                            <img class="flanders" src="/assets/images/vmm.svg" alt="">
                        </div>
                        <div class="image-2 dark">
                            <img class="flanders" src="/assets/images/vmm-dark.svg" alt="">
                        </div>
                        <div class="image">
                            <img class="wallonia" src="/assets/images/awac.svg" alt="">
                        </div>
                        <div class="image dark">
                            <img class="wallonia" src="/assets/images/awac-dark.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <div class="slide--content flex-end">
                    <h1>Belair</h1>
                    <p [innerHTML]="'v2.screens.onboarding.aq-info' | translate"></p>
                </div>
                <img class="index-wheel" src="{{ 'v2.screens.onboarding.circle-slider-uri' | translate }}" alt="">
                <img class="index-wheel dark" src="{{ 'v2.screens.onboarding.circle-slider-uri-hc' | translate }}"
                    alt="">
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <div class="slide--content flex-end">
                    <h1>Belair</h1>
                    <p [innerHTML]="'v2.screens.onboarding.aq-info' | translate"></p>
                </div>
                <img class="onboarding-screenshot default"
                    src="{{ 'v2.screens.onboarding.details-card-uri' | translate }}" alt="">
                <img class="onboarding-screenshot dark"
                    src="{{ 'v2.screens.onboarding.details-card-uri-hc' | translate }}" alt="">
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <div class="slide--content flex-end">
                    <h1>Belair</h1>
                    <p [innerHTML]="'v2.screens.onboarding.aq-long-term' | translate"></p>
                </div>

                <img class="onboarding-screenshot default"
                    src="{{ 'v2.screens.onboarding.stats-card-uri' | translate }}" alt="">
                <img class="onboarding-screenshot dark"
                    src="{{ 'v2.screens.onboarding.stats-card-uri-hc' | translate }}" alt="">
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <div class="slide--content location-input">
                    <h1>Belair</h1>
                    <p>{{ 'v2.screens.onboarding.start-quickly' | translate }}</p>
                    <p>{{ 'v2.screens.onboarding.ask-location' | translate }}</p>

                    <!-- Location input -->
                    <app-location-input (locationSelected)="confirmLocation($event)" [editable]="true">
                    </app-location-input>

                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <div class="slide--content">
                    <h1>Belair</h1>
                    <p>{{ 'v2.screens.onboarding.ask-notifications' | translate }}</p>

                    <h5>{{ 'v2.screens.menu.notifications' | translate }}</h5>
                    <app-user-notification-settings (getFocus)="getFocus($event)" (loseFocus)="loseFocus($event)">
                    </app-user-notification-settings>
                </div>
            </div>
        </ion-slide>
    </app-onboarding-slider>
</ion-content>