<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Located and modelled NO2</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let alert of alerts" [ngStyle]="{'background-color': createColor(alert)}">
    <ion-card-header>
      <h2>{{alert.locationLabel}}</h2>
      <p>BelAQI: {{alert.belaqi}} - {{getLabel(alert.belaqi)}}</p>
    </ion-card-header>
    <ion-card-content>
      {{getHint(alert)}}
    </ion-card-content>
  </ion-card>
</ion-content>
