:host {

  .wheel-wrapper {
    width: 90%;
    left:5%;
    height: 15em;
    position: relative;

    .info-button {
      display: inline;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      ion-button {
        color: black;
      }
    }
  }

  .wheel {
    position: relative;
    width: 100%;
    height: 14em;
    background-color: var(--panel-background);
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
  }

  .no-index {
    padding: 50px 10px;
    white-space: normal;
  }

  .chartjs-render-monitor {
    top: 10px;
  }
}
