@import '../../theme/variables';

navigation {
  @media only screen and (max-width: 600px) {
    .nav-butto-label {
      display: none;
    }
  }

  .main-navigation {
    button {
      color: color($colors, dark);

      &.selected {
        color: color($colors, primary);
      }
    }
  }
}
