page-map {
    .scroll-content {
        overflow: hidden;
    }
    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        .map-wrapper {
            position: relative;
            flex: 1 0 auto;
            .map {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .loading-overlay {
                z-index: 9999;
                background-color: rgba(255, 255, 255, 0.5);
            }
            mobile-extent-control {
                position: absolute;
                top: 80px;
                left: 10px;
                z-index: 999;
            }
            mobile-locate-control {
                position: absolute;
                top: 120px;
                left: 10px;
                z-index: 999;
            }
        }
    }
}