page-map {
  .scroll-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .time .segment-button {
      text-transform: none;
      text-overflow: initial !important;
    }
    .phenomenon .other {
      text-transform: none;
      text-overflow: initial !important;
    }
    ion-segment-button {
      padding: 0 !important;
    }
    .map-card {
      height: 100%;
      display: flex;
      flex-direction: column;
      .full-phenomenon-label {
        text-align: center;
      }
      .map-wrapper {
        position: relative;
        flex: 1 0 auto;
        .map {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          n52-station-map-selector {
            height: 100%;
          }
        }
        .loading-overlay {
          z-index: 9999;
          background-color: rgba(255, 255, 255, 0.5);
        }
        mobile-extent-control {
          position: absolute;
          top: 80px;
          left: 10px;
          z-index: 999;
        }
        mobile-locate-control {
          position: absolute;
          top: 120px;
          left: 10px;
          z-index: 999;
        }
      }
    }
  }
  .info {
    display: inline-block;
    font-family: "Ionicons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    speak: none;
    font-size: 20px;
  }
  .info::before {
    content: "\f311";
  }
  .legend img {
    float: left;
    margin-right: 8px;
    background: white;
    opacity: 0.8;
  }
}
