<ion-header>
  <ion-navbar>
    <ion-title>{{'map.header' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container cards-bg">

  <ion-card>
    <network-panel></network-panel>
  </ion-card>

  <ion-card class="map-card">
    <div>
      <ion-segment class="phenomenon" [(ngModel)]="phenomenonLabel" (ngModelChange)="onPhenomenonChange()">
        <ion-segment-button value="BelAQI">
          BelAQI
        </ion-segment-button>
        <ion-segment-button value="NO2">
          NO<sub>2</sub>
        </ion-segment-button>
        <ion-segment-button value="O3">
          O<sub>3</sub>
        </ion-segment-button>
        <ion-segment-button value="PM10">
          PM<sub>10</sub>
        </ion-segment-button>
        <ion-segment-button value="PM25">
          PM<sub>2.5</sub>
        </ion-segment-button>
        <ion-segment-button value="BC">
          BC
        </ion-segment-button>
        <!-- <ion-segment-button class="other" value="Others" (click)="openOtherPhenomena()">
          <span *ngIf="!selectedOtherPhenom">{{'map.pollutant.other' | translate}}</span>
          <span *ngIf="selectedOtherPhenom">{{selectedOtherPhenom}}</span>
        </ion-segment-button> -->
      </ion-segment>
      <div class="full-phenomenon-label">
        <div *ngIf="selectedPhenomenon">{{selectedPhenomenon.label}}</div>
        <div *ngIf="!selectedPhenomenon">{{'map.index' | translate}}</div>
      </div>
    </div>
    <div class="map-wrapper">
      <div class="map" *ngIf="phenomenonLabel">
        <customized-station-map-selector [mapId]="mapId" [serviceUrl]="providerUrl" [filter]="phenomenonFilter"
          [avoidZoomToSelection]="avoidZoomToSelection" [statusIntervals]="true" [ignoreStatusIntervalIfBeforeDuration]="statusIntervalDuration"
          [zoomControlOptions]="zoomControlOptions" [layerControlOptions]="layerControlOptions" [overlayMaps]="overlayMaps"
          [fitBounds]="fitBounds" [markerSelectorGenerator]="markerSelectorGenerator" (onSelected)="onStationSelected($event)"
          [cluster]="clusterStations" (onContentLoading)="onMapLoading($event)" (mapInitialized)="mapInitialized($event)"></customized-station-map-selector>
      </div>
      <div class="error" *ngIf="!phenomenonLabel">
        {{'map.error' | translate}}
      </div>
    </div>
    <div>
      <ion-segment class="time" [(ngModel)]="time" (ngModelChange)="onTimeChange()">
        <ion-segment-button value="current">
          {{'map.time.current' | translate}}
        </ion-segment-button>
        <ion-segment-button value="today" [disabled]="disabled">
          {{'map.time.today' | translate}}
        </ion-segment-button>
        <ion-segment-button value="tomorrow" [disabled]="disabled">
          {{'map.time.tomorrow' | translate}}
        </ion-segment-button>
        <ion-segment-button value="today2" [disabled]="disabled">
          {{'map.time.today+2' | translate}}
        </ion-segment-button>
        <ion-segment-button value="today3" [disabled]="disabled">
          {{'map.time.today+3' | translate}}
        </ion-segment-button>
      </ion-segment>
    </div>
    <mobile-geosearch-control [mapId]="mapId" [options]="geoSearchOptions"></mobile-geosearch-control>
  </ion-card>

</ion-content>
