page-map {
    .map-view {
        // height: 100%;
        // width: 100%;
        // display: flex;
        // flex-direction: column;
        // flex-wrap: nowrap;
        .scroll-content {
            overflow: hidden;
        }
        position: relative;
        .lastupdate {
            flex: 0 1;
        }
        // .map {
            height: 100%;
            flex: 1;
            position: relative;
            .loading-overlay {
                z-index: 9999;
                background-color: rgba(255, 255, 255, 0.5);
            }
            mobile-geosearch-control {
                position: absolute;
                top: 10px;
                left: 50px;
                z-index: 999;
            }
            mobile-extent-control {
                position: absolute;
                top: 80px;
                left: 10px;
                z-index: 999;
            }
            mobile-locate-control {
                position: absolute;
                top: 120px;
                left: 10px;
                z-index: 999;
            }
        // }
    }
}