// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import "leaflet.scss";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/opensans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/opensans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/opensans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/metropolis/Metropolis-Regular.otf");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/metropolis/Metropolis-Medium.otf");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/metropolis/Metropolis-SemiBold.otf");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/metropolis/Metropolis-Bold.otf");
}

@font-face {
  font-family: "Cookie";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/cookie/cookie.ttf");
}

/** Ionic CSS Variables **/
:root {
  /** default font **/
  --ion-font-family: "Metropolis";
  --ion-metro-family: "Metropolis";
  --ion-cookie-family: "Cookie";

  /** primary **/
  --ion-color-primary: #389cc7;
  --ion-color-primary-rgb: 41, 113, 144;
  --ion-color-primary-contrast: #d6e8f0;
  --ion-color-primary-contrast-rgb: 214, 232, 240;
  --ion-color-primary-shade: #143848;
  --ion-color-primary-tint: #70afca;

  /** secondary **/
  --ion-color-secondary: #4ca6cd;
  --ion-color-secondary-rgb: 52, 142, 180;
  --ion-color-secondary-contrast: #eaf3f7;
  --ion-color-secondary-contrast-rgb: 234, 243, 247;
  --ion-color-secondary-shade: ##0a1c24;
  --ion-color-secondary-tint: #99c6d9;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --panel-background: #d3e5e9;
  --button-pressed: #666c6d;

  --background: none;
  --ion-item-background: none;
  --border-style: none;
  --inner-border-width: 0;

  // custom color by AQI index
  --ion-color-aqi1: #238cff;
  --ion-color-aqi1-rgb: 35, 140, 255;
  --ion-color-aqi1-contrast: #ffffff;
  --ion-color-aqi1-contrast-rgb: 255, 255, 255;
  --ion-color-aqi1-shade: #1f7be0;
  --ion-color-aqi1-tint: #3998ff;
  .ion-color-aqi1 {
    --ion-color-base: var(--ion-color-aqi1);
    --ion-color-base-rgb: var(--ion-color-aqi1-rgb);
    --ion-color-contrast: var(--ion-color-aqi1-contrast);
    --ion-color-contrast-rgb: var(--ion-color-aqi1-contrast-rgb);
    --ion-color-shade: var(--ion-color-aqi1-shade);
    --ion-color-tint: var(--ion-color-aqi1-tint);
  }

  --ion-color-aqi2: #29cdf7;
  --ion-color-aqi2-rgb: 41, 205, 247;
  --ion-color-aqi2-contrast: #000000;
  --ion-color-aqi2-contrast-rgb: 0, 0, 0;
  --ion-color-aqi2-shade: #24b4d9;
  --ion-color-aqi2-tint: #3ed2f8;
  .ion-color-aqi2 {
    --ion-color-base: var(--ion-color-aqi2);
    --ion-color-base-rgb: var(--ion-color-aqi2-rgb);
    --ion-color-contrast: var(--ion-color-aqi2-contrast);
    --ion-color-contrast-rgb: var(--ion-color-aqi2-contrast-rgb);
    --ion-color-shade: var(--ion-color-aqi2-shade);
    --ion-color-tint: var(--ion-color-aqi2-tint);
  }

  --ion-color-aqi3: #34d04d;
  --ion-color-aqi3-rgb: 52, 208, 77;
  --ion-color-aqi3-contrast: #000000;
  --ion-color-aqi3-contrast-rgb: 0, 0, 0;
  --ion-color-aqi3-shade: #2eb744;
  --ion-color-aqi3-tint: #48d55f;
  .ion-color-aqi3 {
    --ion-color-base: var(--ion-color-aqi3);
    --ion-color-base-rgb: var(--ion-color-aqi3-rgb);
    --ion-color-contrast: var(--ion-color-aqi3-contrast);
    --ion-color-contrast-rgb: var(--ion-color-aqi3-contrast-rgb);
    --ion-color-shade: var(--ion-color-aqi3-shade);
    --ion-color-tint: var(--ion-color-aqi3-tint);
  }

  --ion-color-aqi4: #2df16b;
  --ion-color-aqi4-rgb: 45, 241, 107;
  --ion-color-aqi4-contrast: #000000;
  --ion-color-aqi4-contrast-rgb: 0, 0, 0;
  --ion-color-aqi4-shade: #28d45e;
  --ion-color-aqi4-tint: #42f27a;
  .ion-color-aqi4 {
    --ion-color-base: var(--ion-color-aqi4);
    --ion-color-base-rgb: var(--ion-color-aqi4-rgb);
    --ion-color-contrast: var(--ion-color-aqi4-contrast);
    --ion-color-contrast-rgb: var(--ion-color-aqi4-contrast-rgb);
    --ion-color-shade: var(--ion-color-aqi4-shade);
    --ion-color-tint: var(--ion-color-aqi4-tint);
  }

  --ion-color-aqi5: #f0d426;
  --ion-color-aqi5-rgb: 240, 212, 38;
  --ion-color-aqi5-contrast: #000000;
  --ion-color-aqi5-contrast-rgb: 0, 0, 0;
  --ion-color-aqi5-shade: #d3bb21;
  --ion-color-aqi5-tint: #f2d83c;
  .ion-color-aqi5 {
    --ion-color-base: var(--ion-color-aqi5);
    --ion-color-base-rgb: var(--ion-color-aqi5-rgb);
    --ion-color-contrast: var(--ion-color-aqi5-contrast);
    --ion-color-contrast-rgb: var(--ion-color-aqi5-contrast-rgb);
    --ion-color-shade: var(--ion-color-aqi5-shade);
    --ion-color-tint: var(--ion-color-aqi5-tint);
  }

  --ion-color-aqi6: #ff9609;
  --ion-color-aqi6-rgb: 255, 150, 9;
  --ion-color-aqi6-contrast: #000000;
  --ion-color-aqi6-contrast-rgb: 0, 0, 0;
  --ion-color-aqi6-shade: #e08408;
  --ion-color-aqi6-tint: #ffa122;
  .ion-color-aqi6 {
    --ion-color-base: var(--ion-color-aqi6);
    --ion-color-base-rgb: var(--ion-color-aqi6-rgb);
    --ion-color-contrast: var(--ion-color-aqi6-contrast);
    --ion-color-contrast-rgb: var(--ion-color-aqi6-contrast-rgb);
    --ion-color-shade: var(--ion-color-aqi6-shade);
    --ion-color-tint: var(--ion-color-aqi6-tint);
  }

  --ion-color-aqi7: #ff812e;
  --ion-color-aqi7-rgb: 255, 129, 46;
  --ion-color-aqi7-contrast: #000000;
  --ion-color-aqi7-contrast-rgb: 0, 0, 0;
  --ion-color-aqi7-shade: #e07228;
  --ion-color-aqi7-tint: #ff8e43;
  .ion-color-aqi7 {
    --ion-color-base: var(--ion-color-aqi7);
    --ion-color-base-rgb: var(--ion-color-aqi7-rgb);
    --ion-color-contrast: var(--ion-color-aqi7-contrast);
    --ion-color-contrast-rgb: var(--ion-color-aqi7-contrast-rgb);
    --ion-color-shade: var(--ion-color-aqi7-shade);
    --ion-color-tint: var(--ion-color-aqi7-tint);
  }

  --ion-color-aqi8: #fe3b1e;
  --ion-color-aqi8-rgb: 254, 59, 30;
  --ion-color-aqi8-contrast: #ffffff;
  --ion-color-aqi8-contrast-rgb: 255, 255, 255;
  --ion-color-aqi8-shade: #e0341a;
  --ion-color-aqi8-tint: #fe4f35;
  .ion-color-aqi8 {
    --ion-color-base: var(--ion-color-aqi8);
    --ion-color-base-rgb: var(--ion-color-aqi8-rgb);
    --ion-color-contrast: var(--ion-color-aqi8-contrast);
    --ion-color-contrast-rgb: var(--ion-color-aqi8-contrast-rgb);
    --ion-color-shade: var(--ion-color-aqi8-shade);
    --ion-color-tint: var(--ion-color-aqi8-tint);
  }

  --ion-color-aqi9: #c72955;
  --ion-color-aqi9-rgb: 199, 41, 85;
  --ion-color-aqi9-contrast: #ffffff;
  --ion-color-aqi9-contrast-rgb: 255, 255, 255;
  --ion-color-aqi9-shade: #af244b;
  --ion-color-aqi9-tint: #cd3e66;
  .ion-color-aqi9 {
    --ion-color-base: var(--ion-color-aqi9);
    --ion-color-base-rgb: var(--ion-color-aqi9-rgb);
    --ion-color-contrast: var(--ion-color-aqi9-contrast);
    --ion-color-contrast-rgb: var(--ion-color-aqi9-contrast-rgb);
    --ion-color-shade: var(--ion-color-aqi9-shade);
    --ion-color-tint: var(--ion-color-aqi9-tint);
  }

  --ion-color-aqi10: #822e45;
  --ion-color-aqi10-rgb: 130, 46, 69;
  --ion-color-aqi10-contrast: #ffffff;
  --ion-color-aqi10-contrast-rgb: 255, 255, 255;
  --ion-color-aqi10-shade: #72283d;
  --ion-color-aqi10-tint: #8f4358;
  .ion-color-aqi10 {
    --ion-color-base: var(--ion-color-aqi10);
    --ion-color-base-rgb: var(--ion-color-aqi10-rgb);
    --ion-color-contrast: var(--ion-color-aqi10-contrast);
    --ion-color-contrast-rgb: var(--ion-color-aqi10-contrast-rgb);
    --ion-color-shade: var(--ion-color-aqi10-shade);
    --ion-color-tint: var(--ion-color-aqi10-tint);
  }
  // custom color by AQI index
}
