<div>
  <div>{{'sub-index-panel.information-popup.text' | translate}}
    <ul>
      <li>{{'sub-index-panel.information-popup.no2' | translate}}</li>
      <li>{{'sub-index-panel.information-popup.o3' | translate}}</li>
      <li>{{'sub-index-panel.information-popup.pm10' | translate}}</li>
      <li>{{'sub-index-panel.information-popup.pm25' | translate}}</li>
    </ul>
  </div>
  <div class="more-info">
    <div color="primary" small (click)="showMoreInfo()">{{'sub-index-panel.information-popup.moreInfo' | translate}}</div>
  </div>
</div>