<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'diagram.header' | translate}}</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="openLegend()">
        {{'legend.header' | translate}}
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg container">
  <ion-card class="network">
    <network-panel></network-panel>
  </ion-card>
  <ion-card *ngIf="datasetIds.length > 0" class="diagram-card">
    <div class="diagram-container">
      <div class="diagram-wrapper">
        <div class="diagram">
          <n52-d3-timeseries-graph [datasetIds]="datasetIds" [datasetOptions]="datasetOptions" [timeInterval]="timespan" [graphOptions]="diagramOptions"
            [selectedDatasetIds]="selectedDatasetIds" (onTimespanChanged)="timespanChanged($event)" (onContentLoading)="loading = $event"></n52-d3-timeseries-graph>
        </div>
        <div class="loading-overlay" *ngIf="loading">
          <ion-spinner item-start name="circles"></ion-spinner>
          <span>{{'diagram.loading' | translate}}...</span>
        </div>
      </div>
      <div class="legend-wrapper">
        <div *ngFor="let id of datasetIds">
          <simple-legend-entry [datasetId]="id" [datasetOptions]="datasetOptions.get(id)" (onSelectDataset)="onSelectedDataset(id, $event)"></simple-legend-entry>
        </div>
        <ion-fab bottom right>
          <button ion-fab mini (click)="openLegend()">
            <ion-icon name="arrow-dropup"></ion-icon>
          </button>
        </ion-fab>
      </div>
    </div>
  </ion-card>
  <ion-card *ngIf="datasetIds.length === 0">
    <ion-card-header text-center>
      {{'diagram.no-timeseries-selected' | translate}}
    </ion-card-header>
    <ion-card-content>
      <div text-center>{{'diagram.select-timeseries' | translate}}:</div>
      <button ion-button block outline (click)="openMapSelection()">{{'map.header' | translate}}</button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <mobile-timespan-shift-selector class="time" [timespan]="timespan" (onTimespanChange)="timespanChanged($event)" (onOpenTimeSettings)="openTimeSettings()"></mobile-timespan-shift-selector>
</ion-footer>
