<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'diagram.header' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openLegend()">
        {{'legend.header' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg container">
  <ion-card class="network">
    <network-panel></network-panel>
  </ion-card>
  <ion-card *ngIf="datasetIds.length > 0" class="diagram-container">
    <div class="diagram">
      <n52-flot-timeseries-graph [datasetIds]="datasetIds" [datasetOptions]="datasetOptions" [timeInterval]="timespan" [graphOptions]="diagramOptions"
        (onTimespanChanged)="timespanChanged($event)" (onContentLoading)="loading = $event"></n52-flot-timeseries-graph>
    </div>
    <div class="loading-overlay" *ngIf="loading">
      <ion-spinner item-start name="circles"></ion-spinner>
      <span>{{'diagram.loading' | translate}}...</span>
    </div>
  </ion-card>
  <ion-card *ngIf="datasetIds.length === 0">
    <ion-card-header text-center>
      {{'diagram.no-timeseries-selected' | translate}}
    </ion-card-header>
    <ion-card-content>
      <div text-center>{{'diagram.select-timeseries' | translate}}:</div>
      <button ion-button block outline (click)="openMapSelection()">{{'map.header' | translate}}</button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <mobile-timespan-shift-selector class="time" [timespan]="timespan" (onTimespanChange)="timespanChanged($event)" (onOpenTimeSettings)="openTimeSettings()"></mobile-timespan-shift-selector>
</ion-footer>
