page-diagram {
  .scroll-content {
    display: flex;
    flex-direction: column;

    .diagram-card {
      flex-grow: 1;
      position: relative;

      .diagram-container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;

        .diagram-wrapper {
          flex-grow: 1;
          overflow: auto;
          position: relative;
          height: auto;

          .diagram {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }
        }

        .legend-wrapper {
          padding: 10px;
          min-height: 100px;
          overflow: auto;

          .timeseries-group {
            border: 1px solid black;
            flex-grow: 1;
            padding: 5px;

            div {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }

  .scroll-content {
    overflow-y: auto;
  }
}
