// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../styles/loading';
@import '../theme/variables';

.cards-bg {
  background-color: color($colors, card-background);
}

@media only screen and (max-width: 600px) {
  .nav-butto-label {

  }
}

.main-navigation {
  button {
    color: color($colors, dark);
    text-align: center;

    &.selected {
      color: color($colors, primary);
    }
  }
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

ion-list-header div {
  font-size:1.2em;
  font-weight: bold;
}

.text-on-bottom > .button-inner {
  flex-direction: column;
}

.scroll-content {
  padding-top: constant(safe-area-inset-top); /* Status bar height on iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* Status bar height on iOS 11+ */
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
