<div class="chart-wrapper">
  <div [hidden]="error" class="chart">
    <ion-button *ngIf="showPrevButton" class="prev-button" fill="clear" (click)="previousTime()">
      <ion-icon slot="icon-only" name="md-arrow-dropleft"></ion-icon>
    </ion-button>
    <ion-button *ngIf="showNextButton" class="next-button" fill="clear" (click)="nextTime()">
      <ion-icon slot="icon-only" name="md-arrow-dropright"></ion-icon>
    </ion-button>
    <canvas #chart></canvas>
  </div>
  <div *ngIf="error" class="error">{{'belaqi-chart.error' | translate }}</div>
</div>
