:host {

    .chart {
        position: relative;
    }

    .error {
        padding: 10px;
        white-space: normal;
    }

    .info-button {
        position: absolute;
        top: 0;
        right: 0;

        ion-button {
            color: black;
        }
    }

    .chart-wrapper {
        width: 90%;
        left: 5%;
        position: relative;
        background-color: var(--panel-background);
        z-index: -10;
        border-radius: 1em;
      }
}