page-intro {
  .tutorial-page {
    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }
    .slide-zoom {
      height: 100%;
    }
    .slide-title {
      margin-top: 2.8rem;
    }
  }
  ion-slide {
    overflow: auto;
  }
  // .slide-zoom {
  //   text-align: center;
  //   position: absolute;
  //   top: 0;
  //   display: block;
  //   width: 100%;
  //   height: auto;
  //   padding: 50px 10px;
  // }
}
