@import '../../theme/variables';

// :host {
//   display: block;
//   width: 100%;
// }

.timeline--item {
  display: flex;
  flex-direction: column;
  min-width: 96px;
  max-width: 106px;
  height: 99px;
  max-height: 14vh;
  mix-blend-mode: multiply;
  border-radius: 20px;
  background-color: rgba(#000, 0.15);
  width: 100%;
  flex: 1;
  margin: 10px auto;

  @media screen and (min-width: 640px) {
    max-width: 115px;
  }

  &-header {
    height: 20px;
    margin: 4px 4px 0;
    border-radius: 18px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    border-bottom: 2px solid rgba(#000, 0.2);

    &.blue {
      background-color: $blue;
    }

    &.red {
      background-color: $red;
    }

    &.green {
      background-color: $green;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  &-status {
    font-size: 11px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5px;
  }


  &-day {
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding: 0 5px;

    &.selected {
      font-weight: bold;
    }
  }
}
