ion-content {
    --background: transparent;
    --padding-top: calc(56px + env(safe-area-inset-top));
    // --padding-bottom: calc(19px + env(safe-area-inset-bottom));
    overflow-y: auto;
    // max-height: calc(100vh - env(safe-area-inset-bottom));

    .rating {
        --padding-inline-start: 0;

        p {
            font-size: 15px;
            text-align: center;
            color: #ffffff;
            margin-top: 0;
            line-height: 1.4;
        }

        &--info {
            background-color: #FFFFFF1A;
            padding: 16px;
            border-radius: 10px;
            color: white;
            margin-bottom: calc(65px + env(safe-area-inset-bottom));

            p {
                font-size: 15px;
                line-height: 1.4;
                margin-top: 0;
                text-align: left;
            }

            strong {
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 10px;
                display: block;
            }

            ion-item {
                --padding-start: 0;
                --min-height: 22px;
                font-size: 15px;
                color: white;
                margin-bottom: 8px;

                svg {
                    margin-right: 8px;
                }

                ion-label {
                    margin: 0;
                    line-height: 1;
                }

                ion-icon {
                    font-size: 20px;
                    margin: 0;
                    margin-right: 10px;
                    height: 20px !important;
                }
            }
        }
    }

    .rating-content {
        min-height: calc(100vh - 56px - env(safe-area-inset-top));
    }


    .rating-top {
        height: calc(56px + env(safe-area-inset-top));
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .report-title {
        font-size: 18px;
        font-weight: 700;
        color: white;
        margin-bottom: 12px;
        text-align: center;
    }

    .report-description {
        text-align: center;
        font-size: 15px;
        color: white;
        margin-bottom: 16px;
    }

    .image-container {
        position: relative;
        height: 290px;
        min-width: 100vw;
        left: -16px;

        background: url('/assets/images/report.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: screen;
    }

    .image-wrapper {
        position: relative;
    }

    .image-blur {
        position: absolute;
        height: 5px;
        min-width: 100vw;
        filter: blur(5px);
        z-index: 10;
        left: -16px;
    }

    .feedback-interact {
        line-height: 3.5em;
        text-transform: none;
        font-size: 15px;
        font-weight: 500;
        width: calc(100% - 40px);
        height: 42px;
        background: white;
        border-radius: 10px;
        position: fixed;
        bottom: calc(19px + env(safe-area-inset-top));
        z-index: 10;
    }

}