<ion-content>
  <app-background #background>
    <!-- TODO CHECK THIS -->
    <!-- <app-location-swipe *ngIf="!feedbackLocation" (locationChange)="onLocationChange($event)" [activeIndex]="activeIndex" [locations]="locations">
    </app-location-swipe> -->
    <app-location-swipe *ngIf="!feedbackLocation" (locationChange)="onLocationChange($event)" [locations]="locations">
    </app-location-swipe>

    <ng-container *ngIf="!feedbackLocation">
      <app-circle-chart #ratingChart></app-circle-chart>

      <div class="rating ion-padding">
        <p>{{ 'v2.screens.rating-screen.does-it-match' | translate  }}</p>

        <app-feedback [location]="currentActiveIndex?.location" (feedbackOpened)="feedbackOpened()"
          (feedbackGiven)="feedbackGiven($event)"></app-feedback>
      </div>
    </ng-container>

    <div class="rating--info" *ngIf="!isFeedbackOpened && !feedbackLocation">
      <p>
        {{ 'v2.screens.rating-screen.calculated-value' | translate  }}
      </p>

      <strong>{{ 'v2.screens.rating-screen.possible-causes' | translate }}</strong>

      <ion-item lines="none">
        <ion-icon src="/assets/images/icons/woodburn.svg" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'v2.screens.rating-screen.fire' | translate"></ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon src="/assets/images/icons/traffic.svg" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'v2.screens.rating-screen.exhaust' | translate"></ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon src="/assets/images/icons/industry.svg" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'v2.screens.rating-screen.industry' | translate"></ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon src="/assets/images/icons/agriculture.svg" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'v2.screens.rating-screen.agriculture' | translate"></ion-label>
      </ion-item>
    </div>

    <ng-container *ngIf="feedbackLocation">
      <!-- TEMP DISABLE THIS -->
      <app-success-display [feedbackStats]="feedbackStats" [location]="feedbackLocation">
      </app-success-display>
    </ng-container>
  </app-background>
</ion-content>
