<ion-content>
  <app-location-swipe (locationChange)="onLocationChange($event)" [locations]="locations"></app-location-swipe>
  <app-circle-chart [belAqi]="1" [title]="'Heel goed'" [text]="'Gemiddelde score op jouw locatie is goed.'">
  </app-circle-chart>

  <div class="rating ion-padding">
    <p>Strookt deze waarde met jouw gevoel?</p>

    <app-feedback (feedbackOpened)="isFeedbackOpened()" (feedbackGiven)="feedbackGiven($event)"></app-feedback>
  </div>

  <div class="rating--info" *ngIf="!feedbackOpened">
    <p>
      De app toont een berekende waarde, geen meting op jouw locatie. Plaatselijk kan de luchtkwaliteit dan ook
      afwijken.
    </p>

    <strong> Mogelijke oorzaken van een afwijking zijn:</strong>

    <ion-item lines="none">
      <ion-icon src="/assets/images/icons/vuur.svg" slot="start"></ion-icon>
      <ion-label>Een <strong>haardvuur</strong> met hout verbranding.</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon src="/assets/images/icons/auto.svg" slot="start"></ion-icon>
      <ion-label><strong>Uitlaatgassen</strong> van verkeer</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon src="/assets/images/icons/fabriek.svg" slot="start"></ion-icon>
      <ion-label><strong>Uitstoot</strong> door industrie of landbouw</ion-label>
    </ion-item>
  </div>


</ion-content>