<overlay-info-drawer>
  <div class="drawer-content">
    <div>
      <h2 class="ion-text-center">{{'diagram.overlay.header' | translate}}</h2>
    </div>
    <div>
      <p>{{'diagram.overlay.content-p1' | translate}}</p>
    </div>
    <div>
      <p class="ion-text-center"><img src="{{'diagram.overlay.url-svg' | translate}}"></p>
    </div>
    <div>
      <p>{{'diagram.overlay.content-p2' | translate}}</p>
    </div>
    <div>
      <h4>{{'diagram.overlay.attention' | translate}}</h4>
    </div>
    <div>
      <p>{{'diagram.overlay.content-p3' | translate}}</p>
    </div>
  </div>
</overlay-info-drawer>

<ion-content>
  <div style="margin-top: 45px; height: calc(100% - 45px);">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'refresh.pull-message' | translate}}"
        refreshingSpinner="circles" refreshingText="">
      </ion-refresher-content>
    </ion-refresher>
    <slider-header [header]="sliderHeader"></slider-header>
    <belaqi-diagram-slider #slider (headerContent)="sliderHeader = $event"></belaqi-diagram-slider>
  </div>
</ion-content>
