.notification-settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  justify-content: space-between;

  ion-item {
    padding-inline-start: 0;
    width: 100%;
  }

  ion-label {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 10px;

    img {
      display: block;
      max-width: 20px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .icon-standard {
    display: block;
  }

  .icon-dark {
    display: none;
  }

  .ion-no-padding {
    padding: 1em 0;
  }
}
