:host {
  --color: white;
  color: white;

  ion-content {
    --background: linear-gradient(135deg, #91c0d5 50%, #53a38f);
  }

  --color: white;
  color: white;
  --ion-color-step-600: white;

  ion-row {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    width: 90%;
    margin-left: 5%;
  }
}
