<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'settings.header' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" id="close-modal">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <common-settings [languageList]="languageList"></common-settings>
  <user-locations-settings></user-locations-settings>
  <start-page-settings></start-page-settings>
  <!-- <customize-personal-alerts></customize-personal-alerts> -->
  <push-notification-subscriptions-settings></push-notification-subscriptions-settings>
  <about-settings></about-settings>
</ion-content>