@import '../../theme/variables';

.high-contrast{
    :host {
        ion-slides {
            ion-slide {
                color: $black;
                padding-top: 10px;
                height: 60px;
                font-size: 16px;
            }
        }
    
    }
}