@import '../../theme/variables';

.high-contrast {
  :host {
    swiper-container {
      swiper-slide {
        color: $black;
        padding-top: 10px;
        height: 60px;
        font-size: 16px;
      }
    }

  }
}
