:host {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: center;

    .swiper-container-initialized {
        width: 100%;
    }

    ion-slides {
        ion-slide {
            color: white;
            opacity: 0.4;
            font-size: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            transition: all 0.3s ease;
            transform: scale(1);

            &.swiper-slide-active {
                opacity: 1;
                transform: scale(1.3);
            }
        }
    }
}
