@import '../../theme/variables';

.high-contrast{
    :host {
        ion-slides {
            ion-slide {
                color: $black;
                padding-top: 6px;
                height: 54px;
            }
        }

    }
}
