<!-- Location input -->
<div class="location">
  <ion-input class="location--input" [placeholder]="'v2.components.location-input.choose-location' | translate"
    [(ngModel)]="searchText" (keyup)="filterItems()" (click)="openDropdown()">
    <img src="/assets/images/icons/pin.svg" alt="">
  </ion-input>

  <div class="location--dropdown" *ngIf="visible">
    <ng-container *ngIf="filteredItems.length; else elseTemplate">
      <ion-row *ngFor="let item of filteredItems;" (click)="chooseOption(item)" class="ion-align-items-center">
        <ion-col class="location--dropdown-item">
          {{ item.label }} ({{item.postalCode}})
          <ng-container *ngIf="selectedItem && ( item.id === selectedItem.id); else notSelect">
            <ion-icon name="ios-checkmark-circle" color="white"></ion-icon>
          </ng-container>
          <ng-template #notSelect>
            <ion-icon name="ios-radio-button-off" color="white"></ion-icon>
          </ng-template>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-template #elseTemplate>
      <p>{{ 'v2.components.location-input.no-results' | translate }}</p>
    </ng-template>
  </div>
</div>

<ion-button (click)="getCurrentLocation()" expand="block" fill="clear" shape="round" class="location--button"
  *ngIf="currentLocation">
  {{ 'v2.components.location-input.current-location' | translate }}
  <img src="/assets/images/icons/navigation.svg" alt="">
</ion-button>

<div *ngIf="editableLocation" style="padding-top: 1em;">
  <ion-button expand="block" fill="clear" shape="round" class="location--button" (click)="editLocation()">
    {{ 'no-location.edit' | translate }}
  </ion-button>
  <ion-button expand="block" [fill]="btnStateConfirmLocation" shape="round" class="location--button" (click)="confirmLocation()">
    {{ 'no-location.confirm' | translate }}
  </ion-button>
</div>
