<mobile-geosearch-control [options]="geoSearchOptions" (onResultChanged)="geoSearchResultChanged($event)"></mobile-geosearch-control>
<div>
  <div style="height: 250px;" *ngIf="geoSearchResult">
    <location-selection mapId="location-gen" [mapOptions]="mapOptions" [location]="geoSearchResult.geometry" (locationChanged)="onLocationChanged($event)"></location-selection>
  </div>
  <ion-list [hidden]="!geoSearchResult">
    <ion-item>
      <ion-label stacked>{{'intro.three.locationLabelHint' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="locationLabel" clearInput placeholder="{{'intro.three.locationLabelPlaceholder' | translate}}" ></ion-input>
    </ion-item>
  </ion-list>
  <div text-center *ngIf="geoSearchResult">
    <button ion-button round (click)="addLocationToList()">{{'intro.three.addLocationToList' | translate}}</button>
  </div>
</div>
<div *ngIf="locationList.hasLocations()" text-center>
  <button ion-button round outline (click)="showLocationList()">{{'intro.three.showLocationList' | translate}}</button>
</div>
