:host {

    --color: white;
    color: white;

    ion-select-option, 
    ion-item {
        color: var(--ion-dark-tint);
    }

    ion-label {
        --color: white;
        color: white;
        padding: 2% 0% 2% 0%;
    }
  
    ion-row {
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid white;
      width: 90%;
      margin-left: 5%;
    }
}