<ion-list>
  <ion-list-header>
    {{'settings.common' | translate}}
  </ion-list-header>
  <ion-row nowrap>
    <ion-label>{{'settings.select-language' | translate}}</ion-label>
    <ion-select [(ngModel)]="currentLang" (ngModelChange)="setLanguage($event)" interface="popover">
      <ion-select-option *ngFor="let lang of languageList" [value]="lang">{{lang.label}}</ion-select-option>
    </ion-select>
  </ion-row>
  <ion-row nowrap (click)="clearCache()">
    <ion-spinner item-start *ngIf="clearingCache"></ion-spinner>
    <ion-label>{{'settings.clear-cache.button' | translate}}</ion-label>
  </ion-row>
</ion-list>