<ion-list>
  <ion-item>
    <ion-label>{{'air-quality-index.header' | translate}} </ion-label>
    <ion-select [(ngModel)]="selectedRegion" (ngModelChange)="onChange($event)" interface="popover">
      <ion-option *ngFor="let region of regions" value="{{region}}">{{region}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list *ngIf="airQualityIndex">
  <ion-item class="veryGood" ngClass="aqIndex-{{item.value}}" *ngFor="let item of airQualityIndex">
    <span>{{item.evaluation}} - {{item.value}}</span>
    <ion-note item-end>{{item.period}} ({{item.type}})</ion-note>
  </ion-item>
</ion-list>
