<ion-list>
  <ion-item>
    <ion-label>{{'air-quality-index.header' | translate}} </ion-label>
    <ion-select [(ngModel)]="selectedRegion" (ngModelChange)="onChange($event)" interface="popover">
      <ion-option *ngFor="let region of regions" value="{{region}}">{{region}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item class="veryGood">
    <span>very-good - 2</span>
    <ion-note item-end>yesterday (observation)</ion-note>
  </ion-item>
  <ion-item class="good">
    <span>good - 3</span>
    <ion-note item-end>today (forecast)</ion-note>
  </ion-item>
  <ion-item class="good">
    <span>good - 3</span>
    <ion-note item-end>tomorrow (forecast)</ion-note>
  </ion-item>
</ion-list>
