:host {
    .entry {
        border: solid white;
        border-radius: 50%;
        border-width: 0.2em;
        height: 2.5em;
        width: 2.5em;
        margin-left: 30%;
        margin-top: 6%;
        margin-bottom: 6%;
        text-align: center;

        .phenomenon-label {
            height: 2.5em;
            font-weight: bold;
            font-size: 60%;
            line-height: 350%;
        }

        ion-spinner {
            height: 100%;
        }
    }
}