:host {
    .entry {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        height: 2.5em;
        padding: 10px;
        text-align: center;

        .phenomenon-label {
            height: 100%;
        }

        ion-spinner {
            height: 100%;
        }
    }
}