:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top:-1px;
  left: 0;
  z-index: 1001 !important;
  transform: translateY(100vh);
  color: white;
  --color: white;

  ion-content {
    --background: transparent;
    position: relative;
    height: calc(100% + 1px);
    color: white;
    --color: white;

    .header {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 40px;
      right: 0px;
      overflow: hidden;
      background:  #91c0d5;
    }

    .content {
      position: absolute;
      background: linear-gradient(135deg, #91c0d5 50%, #53a38f);
      top: 40px;
      bottom: 40px;
      left: 0px;
      right: 0px;
      overflow: auto;

      &.open {
        bottom: 0px;
      }
    }

    .footer {
      position: absolute;
      bottom: 0px;
      height: 40px;
      left: 0px;
      right: 0px;
      overflow: hidden;
    }

    .open-button,
    .close-button {
      background-color: #495359;
      color: white;
      text-align: center;
      line-height: 40px;
      height: 40px;
      width: 100%;
      border-radius: 0px 0px 100% 100%/20px;
    }

    .open-button {
      position: absolute;
      bottom: 0;
    }
  }

}
