<ion-header>
  <ion-navbar>
    <ion-title>{{'map.header' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container cards-bg">

  <ion-card>
    <network-panel></network-panel>
  </ion-card>

  <ion-card class="map">
    <div>
      <ion-segment class="phenomenon" [(ngModel)]="phenomenonLabel" (ngModelChange)="onPhenomenonChange()">
        <ion-segment-button value="NO2">
          NO2
        </ion-segment-button>
        <ion-segment-button value="O3">
          O3
        </ion-segment-button>
        <ion-segment-button value="PM10">
          PM10
        </ion-segment-button>
        <ion-segment-button value="PM25">
          PM2.5
        </ion-segment-button>
        <ion-segment-button value="BC">
          BC
        </ion-segment-button>
        <ion-segment-button value="Others" (click)="openOtherPhenomena()">
          <span *ngIf="!selectedOtherPhenom">Other</span>
          <span *ngIf="selectedOtherPhenom">{{selectedOtherPhenom}}</span>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="map-wrapper">
      <div class="map" *ngIf="selectedPhenomenon">
        <n52-station-map-selector mapId="combined-map" [serviceUrl]="providerUrl" [filter]="phenomenonFilter" [avoidZoomToSelection]="avoidZoomToSelection"
          [statusIntervals]="true" [zoomControlOptions]="zoomControlOptions" [overlayMaps]="overlayMaps" [fitBounds]="fitBounds"
          (onSelected)="onStationSelected($event)" [cluster]="clusterStations" (onContentLoading)="onMapLoading($event)"></n52-station-map-selector>
      </div>
    </div>
    <div>
      <ion-segment class="time" [(ngModel)]="time" (ngModelChange)="onTimeChange()">
        <ion-segment-button value="current">
          {{'map.time.current' | translate}}
        </ion-segment-button>
        <ion-segment-button value="today" [disabled]="isDisabled()">
          {{'map.time.today' | translate}}
        </ion-segment-button>
        <ion-segment-button value="tomorrow" [disabled]="isDisabled()">
          {{'map.time.tomorrow' | translate}}
        </ion-segment-button>
        <ion-segment-button value="today2" [disabled]="isDisabled()">
          {{'map.time.today+2' | translate}}
        </ion-segment-button>
        <ion-segment-button value="today3" [disabled]="isDisabled()">
          {{'map.time.today+3' | translate}}
        </ion-segment-button>
      </ion-segment>
    </div>
    <mobile-geosearch-control mapId="combined-map" [options]="geoSearchOptions"></mobile-geosearch-control>
  </ion-card>

</ion-content>
