<ion-list>
  <ion-list-header>
    {{'settings.start-page.header' | translate}}
  </ion-list-header>
  <ion-item text-wrap (click)="toggleShowNearestStations()">
    <ion-label>{{'settings.start-page.show-nearest-stations' | translate}}</ion-label>
    <ion-toggle [(ngModel)]="showNearestStations" (ngModelChange)="toggleShowNearestStations()"></ion-toggle>
  </ion-item>
  <ion-item text-wrap (click)="toggleShowSubIndexPanel()">
    <ion-label>{{'settings.start-page.show-sub-index-panel' | translate}}</ion-label>
    <ion-toggle [(ngModel)]="showSubIndexPanel" (ngModelChange)="toggleShowSubIndexPanel()"></ion-toggle>
  </ion-item>
  <ion-item text-wrap (click)="toggleShowAnnualMeanPanel()">
    <ion-label>{{'settings.start-page.show-annual-mean-panel' | translate}}</ion-label>
    <ion-toggle [(ngModel)]="showAnnualMeanPanel" (ngModelChange)="toggleShowAnnualMeanPanel()"></ion-toggle>
  </ion-item>
</ion-list>