<ion-list>
  <ion-list-header>
    {{'settings.start-page.header' | translate}}
  </ion-list-header>

  <ion-row nowrap (click)="toggleShowNearestStations()">
    <ion-label text-wrap>{{'settings.start-page.show-nearest-stations' | translate}}</ion-label>
    <ion-toggle color="success" [(ngModel)]="showNearestStations" (ngModelChange)="toggleShowNearestStations()"></ion-toggle>
  </ion-row>
  <ion-row nowrap (click)="toggleShowSubIndexPanel()">
    <ion-label text-wrap>{{'settings.start-page.show-sub-index-panel' | translate}}</ion-label>
    <ion-toggle color="success" [(ngModel)]="showSubIndexPanel" (ngModelChange)="toggleShowSubIndexPanel()"></ion-toggle>
  </ion-row>
  <ion-row nowrap (click)="toggleShowAnnualMeanPanel()">
    <ion-label text-wrap>{{'settings.start-page.show-annual-mean-panel' | translate}}</ion-label>
    <ion-toggle color="success" [(ngModel)]="showAnnualMeanPanel" (ngModelChange)="toggleShowAnnualMeanPanel()"></ion-toggle>
  </ion-row>
</ion-list>