<ion-content>
  <ion-list mode="md">
    <ion-item text-center>
      <ion-label text-wrap>
        <div class="welcomeTitle">
          {{'welcome.title' | translate}}
        </div>
      </ion-label>
    </ion-item>
    <ion-item text-center>
      <ion-label text-wrap>
        <div class="welcomeText">
          {{'welcome.text' | translate}}
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button>
    {{'welcome.button' | translate}}
  </ion-button>
  <!-- <ion-list mode="md">
    <ion-item text-center class="location-header">
      <ion-label text-wrap *ngIf="sliderHeaderContent">
        <ion-text class="location-label">
          <h2>{{sliderHeaderContent?.label}}</h2>
        </ion-text>
        <p class="date-label">
          <span>{{'menu.lastUpdate' | translate}}: </span>
          <span class="date-label">{{sliderHeaderContent?.date | date : 'd MMMM y, HH:mm': null: translateSrvc.currentLang}} </span>
          <span *ngIf="sliderHeaderContent?.current"> - {{'belaqi-user-location-slider.current-location' | translate}}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list> -->

</ion-content>