<ion-row nowrap>
  <ion-col size="5">
    <ion-row nowrap>
      <div class="ion-text-center" (click)="select()" class="entry" [ngStyle]="{'border-color': borderColor}">
        <div *ngIf="loadingStationValue" class="spinningborder"></div>
        <div class="phenomenon-label" [ngClass]="{'location-disabled': !location}">
          {{entry.label}}<sub>{{entry.subscript}}</sub></div>
      </div>
      <div *ngIf="location" nowrap>
        <div class="station-value" *ngIf="!loadingStationValue && !error">
          {{lastStationaryValue | number:'1.0-1'}}{{uom}}
        </div>
      </div>
    </ion-row>
  </ion-col>
  <ion-col size="8">
    <div class="error" *ngIf="error && !loadingStationValue">
      {{'map.error' | translate}}
    </div>
    <div class="station-description" *ngIf="!loadingStationValue && stationDistance && !error">
      {{stationDistance | number:'1.0-1'}}km
    </div>
    <div class="station-description ion-text-wrap" *ngIf="!loadingStationValue && stationLabel && !error">
      {{stationLabel}}
    </div>
  </ion-col>
</ion-row>