<div text-center (click)="select()" class="entry" [ngStyle]="{'border-color': borderColor}">
  <div *ngIf="loading" class="spinningborder"></div>
  <div class="phenomenon-label" [ngClass]="{'location-disabled': !location}">{{entry.label}}<sub>{{entry.subscript}}</sub></div>
  <!-- Station Value -->
<!--   <div *ngIf="location">
    <div class="station-value" *ngIf="!loadingStationValue">{{lastStationaryValue?.value | number:'1.0-1'}}{{uom}}</div>
  </div> -->
</div>
<!-- Station Information -->
<!-- <div class="entry-footer">
  <div class="station-distance" *ngIf="!loadingStationValue && stationDistance">{{stationDistance | number:'1.0-1'}}km</div>
  <div class="station-label" *ngIf="!loadingStationValue && stationLabel" text-wrap>{{stationLabel | slice : 9 : 50}}</div>
  <div class="station-label" *ngIf="!loadingStationValue && stationLabel">({{stationLabel | slice : 2 : 6}})</div>
</div> -->