:host {
    @import'../../../theme/panels.scss';


    .entry {
        margin-left: 3%;
    }

    .station-description {
        font-size: 0.7em;
        color: var(--ion-color-dark-tint);
        max-width: 88%;
    }

    .station-value {
        font-size: 0.7em;
        color: var(--ion-color-dark-tint);
        padding-left:10%;
        white-space: nowrap;
        font-weight: bold;
    }

    .error {
        font-size: 70%;
        width: 100%;
        margin-left: -30%;
    }

    ion-row {
        align-items: center;
        justify-content: left;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
