<div> {{'nearest-measuring-station-panel.information-popup.text' | translate}}
  <ul>
    <li><strong>BC</strong> {{'nearest-measuring-station-panel.information-popup.list-bc' | translate}} </li>
    <li><strong>NO<sub>2</sub></strong> {{'nearest-measuring-station-panel.information-popup.list-no2' | translate}}
    </li>
    <li><strong>O<sub>3</sub></strong> {{'nearest-measuring-station-panel.information-popup.list-o3' | translate}} </li>
    <li><strong>PM<sub>10</sub></strong> {{'nearest-measuring-station-panel.information-popup.list-pm10' | translate}}
    </li>
    <li><strong>PM<sub>2.5</sub></strong> {{'nearest-measuring-station-panel.information-popup.list-pm25' | translate}}
    </li>
  </ul>
</div>