<ion-grid>
  <ion-row class="header">
    <ion-col class="ion-text-center ion-text-wrap">{{'nearest-measuring-station-panel.header' | translate}}</ion-col>
    <!-- <div class="info-button">
      <ion-button fill="clear" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </div> -->
  </ion-row>
  <div class="entries" *ngIf="!error">
    <div *ngFor="let entry of entries">
      <nearest-measuring-station-panel-entry [location]="location" [entry]="entry" (clicked)="select($event)"
        (ready)="entryReady($event)"></nearest-measuring-station-panel-entry>
    </div>
  </div>
  <div class="entries" *ngIf="error">
    <div class="error">
      {{'nearest-measuring-station-panel.error' | translate}}
    </div>
  </div>
</ion-grid>