<ion-header>
  <ion-toolbar>
    <ion-title>{{'intro.header' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides style="height: 100%;">
    <ion-slide>
        <h2 class="slide-title">{{'intro.one.header' | translate}}</h2>
      <div style="width: 50%; margin: auto;">
        <ion-list lines="none">
          <ion-radio-group [(ngModel)]="selectedLang">
            <ion-item>
              <ion-label>{{'intro.one.option.dutch' | translate}}</ion-label>
              <ion-radio value="nl" (ionSelect)="languageChanged('nl')"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{'intro.one.option.french' | translate}}</ion-label>
              <ion-radio value="fr" (ionSelect)="languageChanged('fr')"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{'intro.one.option.english' | translate}}</ion-label>
              <ion-radio value="en" (ionSelect)="languageChanged('en')"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{'intro.one.option.german' | translate}}</ion-label>
              <ion-radio value="de" (ionSelect)="languageChanged('de')"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">{{'intro.two.header' | translate}}</h2>
      <push-notification-subscriptions-settings [hideHeader]="true"></push-notification-subscriptions-settings>
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">{{'intro.three.header' | translate}}</h2>
      <user-location-creation></user-location-creation>
    </ion-slide>

    <!-- <ion-slide>
      <h2 class="slide-title">{{'intro.four.header' | translate}}</h2>
      <customize-personal-alerts [showHeader]="false"></customize-personal-alerts>
    </ion-slide> -->

  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="!isBeginning" (click)="prevSlide()">
        <ion-icon name="arrow-back"></ion-icon>
        {{'intro.prev-step' | translate}}
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="!isEnd" (click)="nextSlide()">
        {{'intro.next-step' | translate}}
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>