nearest-measuring-station-panel {
  .header {
    padding: 5px;
    display: flex;
    align-content: center;
    align-items: center;
  }

  .col {
    overflow: hidden;
  }

  .info-button {
    button {
      color: black;
    }
  }
}
