nearest-measuring-station-panel {
  .entry {
    border: 1px solid rgb(185, 185, 185);
    height: 5.9em;
  }
  .phenomenon-label {
    font-size: 150%;
  }
  .station-value {
    font-size: 110%;
  }
  .station-distance {
    font-size: 90%;
  }
  .station-label {
    font-size: 50%;
  }
}
