nearest-measuring-station-panel {
  .entry {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 3.2em;
    text-align: center;
    .location-disabled {
      padding: 25px 0;
    }
  }
  .entry-footer {
    text-align: center;
  }
  .phenomenon-label {
    font-size: 140%;
  }
  .station-value {
    font-size: 85%;
  }
  .station-distance {
    font-size: 80%;
  }
  .station-label {
    font-size: 50%;
  }
}
