<div text-center (click)="select()" class="entry" [ngStyle]="{'background-color': backgroundColor, 'color': color}">
  <div class="phenomenon-label" [ngClass]="{'location-disabled': !location}">{{entry.label}}</div>
  <div *ngIf="location">
    <div class="station-value" *ngIf="!loadingStationValue">{{lastStationaryValue?.value | number:'1.0-1'}}{{uom}}</div>
    <div *ngIf="loadingStationValue">
      <ion-spinner></ion-spinner>
    </div>
  </div>
</div>
<div class="entry-footer">
  <div class="station-distance" *ngIf="!loadingStationValue && stationDistance">{{stationDistance | number:'1.0-1'}}km</div>
  <div class="station-label" *ngIf="!loadingStationValue && stationLabel" text-wrap>{{stationLabel | slice : 9 : 50}}</div>
  <div class="station-label" *ngIf="!loadingStationValue && stationLabel">({{stationLabel | slice : 2 : 6}})</div>
</div>
