mobile-timeseries-entry {
    ion-row.icon-row {
        height: 100%;
        display: flex;
        ion-col {
            flex: 0 0 20%;
            max-width: 20%;
            text-align: center;
            padding: 10px 5px;
            ion-icon {
                font-size: 35px;
            }
        }
    }
    .ref-value-selected {
        font-weight: bolder;
    }
}