<ion-list no-lines>
  <ion-item>
    <h2 [ngStyle]="{'color': datasetOptions.color}">
      <n52-label-mapper label="{{platformLabel}}"></n52-label-mapper>
    </h2>
    <h3>
      <n52-label-mapper label="{{phenomenonLabel}}"></n52-label-mapper>
      <span *ngIf="uom">
        <span>[</span>
        <n52-label-mapper label="{{uom}}"></n52-label-mapper>
        <span>]</span>
      </span>
    </h3>
    <p>
      <n52-label-mapper label="{{procedureLabel}}"></n52-label-mapper>
    </p>
    <p *ngIf="categoryLabel != phenomenonLabel">
      <n52-label-mapper label="{{categoryLabel}}"></n52-label-mapper>
    </p>
    <ion-row class="icon-row">
      <ion-col *ngIf="!informationVisible">
        <ion-icon name="arrow-dropdown" (click)="toggleInformation(); $event.stopPropagation();"></ion-icon>
      </ion-col>
      <ion-col *ngIf="informationVisible">
        <ion-icon name="arrow-dropup" (click)="toggleInformation(); $event.stopPropagation();"></ion-icon>
      </ion-col>
      <ion-col *ngIf="!datasetOptions.visible">
        <ion-icon name="eye" item-end (click)="toggleVisibility(); $event.stopPropagation();"></ion-icon>
      </ion-col>
      <ion-col *ngIf="datasetOptions.visible">
        <ion-icon name="eye-off" item-end (click)="toggleVisibility(); $event.stopPropagation();"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="map" item-end (click)="showGeometry(); $event.stopPropagation();"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="settings" item-end (click)="editDatasetOptions(); $event.stopPropagation();"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="trash" item-end (click)="removeDataset(); $event.stopPropagation();"></ion-icon>
      </ion-col>
    </ion-row>
    <div *ngIf="informationVisible">
      <div *ngIf="firstValue" (click)="jumpToFirstTimeStamp(); $event.stopPropagation();">
        <ion-icon name="arrow-forward"></ion-icon>
        <span>{{'legend.first-value-at' | translate}}</span>
        <span>{{firstValue.timestamp| date: 'dd.MM.yy HH:mm'}}</span>
        <span>({{firstValue.value}} {{uom}})</span>
      </div>
      <div *ngIf="lastValue" (click)="jumpToLastTimeStamp(); $event.stopPropagation();">
        <ion-icon name="arrow-forward"></ion-icon>
        <span>{{'legend.last-value-at' | translate}}</span>
        <span>{{lastValue.timestamp| date: 'dd.MM.yy HH:mm'}}</span>
        <span>({{lastValue.value}} {{uom}})</span>
      </div>
      <div *ngIf="dataset?.referenceValues">
        <div *ngFor="let ref of dataset.referenceValues" (click)="toggleReferenceValue(ref); $event.stopPropagation();"
          [ngClass]="{'ref-value-selected': ref.visible}" [ngStyle]="{color: ref.color}">
          <ion-icon name="arrow-forward"></ion-icon>
          <span>{{ref.label}}</span>
        </div>
      </div>
    </div>
  </ion-item>
</ion-list>
