
@import '../../theme/variables';

.high-contrast{
  :host {
    .theme-button {
      background: $black;
      box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.22);
      color: white;
      width: 220px;

      .text-standard {
        display: none;
      }

      .text-dark {
        display: block;
      }
    }
  }
}