:host {

    .notification {
        position: relative;
        padding: 5% 5% 0 5%;

        .title {
            text-align: center;
            padding: 5px;
            flex: none;
            background-color: var(--ion-color-secondary-contrast);
            border-radius: 1em 1em 0 0;
            visibility: visible;
        }

        .content {
            background-color: var(--panel-background);
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
            padding: 10px;

            .info {
                text-align: center;
                font-size: 80%;
                color: darkgray;
            }
        }
    }

}