.notification {
    background-color: #cf5756;
    color: white;
    padding: 5px;
    padding-bottom: 20px;
    margin-bottom: -15px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}