ion-content {
    --background: transparent;
    --padding-top: 65px;

    .app-info {
        color: white;
        padding: 25px 50px;

        ion-button {
            --background: transparent;
            --background-activated: rgba(255, 255, 255, 0.1);
            display: block;
            margin: auto;
            font-size: 24px;
            color: white;
            height: auto;
            margin-bottom: 45px;
            --background-activated: transparent;

            ion-icon {
                font-size: 14px;
                margin-right: 20px;
            }
        }

        p {
            font-size: 16px;
            line-height: 18px;
            padding: 0 12.5px;
        }

        strong {
            font-weight: 600;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(#e0e0e0, 0.37);

            li {
                flex-basis: 50%;
                padding-left: 15px;
                margin-bottom: 20px;

                &:nth-child(odd) {
                    border-right: 1px solid rgba(#e0e0e0, 0.37);
                }

                h5 {
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0;
                }

                p {
                    font-size: 13px;
                    font-weight: 500;
                    margin: 5px 0 0;
                    padding: 0;

                    span {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        border: solid 0.5px rgba(255, 255, 255, 0.42);
                        background-image: linear-gradient(to bottom, #29cdf7, #54bad3);
                        border-radius: 6px;
                        margin-right: 4px;
                    }
                }
            }

            &.no-border {
                border-bottom: 0;
                margin-bottom: 0;

                li {
                    margin-bottom: 0;
                }
            }
        }

        ion-item {
            color: white;
            --padding-start: 0;
            --border-color: white;
            font-size: 16px;
            line-height: 1.38;
        }

        img {
            max-width: 110%;
            margin-left: -5%;
        }

        .more {
            margin: 45px 20px;
            --inner-padding-end: 0;
            --detail-icon-opacity: 1;
        }
    }
}