<ion-content>
  <app-background>
    <div class="app-info">
      <ion-button (click)="goBack()">
        <ion-icon slot="start" src="/assets/images/icons/chevron-back.svg"></ion-icon>
        {{ 'v2.screens.app-info.how-this-works' | translate }}
      </ion-button>

      <p [innerHTML]="'v2.screens.app-info.aq-index' | translate"></p>

      <p [innerHTML]="'v2.screens.app-info.aq-index-2' | translate"></p>
    </div>
      <app-circle-chart></app-circle-chart>
    <div class="app-info">
      <p>{{ 'v2.screens.app-info.current-items' | translate }}</p>

      <ul>
        <li *ngIf="o3">
          <h5>{{ 'v2.screens.app-info.ozon' | translate }} <b>(O&#8323;)</b></h5>
          <p>
            <span [ngStyle]="{'background-color': o3.color}"></span>
            {{o3.value}} µg/m3
          </p>
        </li>

        <li *ngIf="no2">
          <h5>{{ 'v2.screens.app-info.nitrogen-dioxide' | translate }} <b>(NO&#8322;)</b></h5>
          <p>
            <span [ngStyle]="{'background-color': no2.color}"></span>
            {{no2.value}} µg/m3
          </p>
        </li>
      </ul>

      <ul class="no-border">
        <li *ngIf="pm10">
          <h5>{{ 'v2.screens.app-info.fine-dust' | translate }} <b>(PM 10)</b></h5>
          <p>
            <span [ngStyle]="{'background-color': pm10.color}"></span>
            {{pm10.value}} µg/m3
          </p>
        </li>

        <li *ngIf="pm25">
          <h5>{{ 'v2.screens.app-info.very-fine-dust' | translate }} <b>(PM 2,5)</b></h5>
          <p>
            <span [ngStyle]="{'background-color': pm25.color}"></span>
            {{pm25.value}} µg/m3
          </p>
        </li>
      </ul>

      <p>{{ 'v2.screens.app-info.data-models' | translate }}</p>

      <!-- <p [innerHTML]="'v2.screens.app-info.check-lt-data' | translate"></p> -->

      <ion-item detail>
        <ion-label [routerLink]="['/main/longterm-info']" text-wrap>
          {{ 'v2.screens.main-screen.long-term-calculation' | translate }}</ion-label>
      </ion-item>

      <!-- <ion-item detail>
        <ion-label text-wrap>{{ 'v2.screens.app-info.how-calculated' | translate }}</ion-label>
      </ion-item> -->

      <hr class="line">

      <p [innerHTML]="'v2.screens.app-info.notifications' | translate "></p>

      <img src="/assets/images/gmail@3x.png" alt="">

      <!-- <ion-item detail class="more">
        <ion-label class="ion-text-wrap">{{ 'v2.screens.app-info.learn-more' | translate }}</ion-label>
      </ion-item> -->
    </div>
  </app-background>
</ion-content>
