<ion-content>
  <div class="app-info">
    <ion-button (click)="goBack()">
      <ion-icon slot="start" src="/assets/images/icons/chevron-back.svg"></ion-icon>
      Hoe werkt dit?
    </ion-button>

    <p>We beoordelen de impact van de <strong>algemene luchtkwaliteit</strong> op korte termijn op basis van een
      luchtkwaliteitsindex.
    </p>

    <p>Die geeft aan de meetwaarden van verschillende verontreinigende stoffen één score (Heel slecht).
      De index baseert zich voor deze score op data van meetstations in heel België.</p>

    <app-circle-chart [belAqi]="2" [title]="'Heel goed'" [text]="'Gemiddelde score op jouw locatie is goed.'">
    </app-circle-chart>

    <p>De stoffen die we momenteel in rekening brengen, zijn:</p>

    <ul>
      <li>
        <h5>Ozon (O3)</h5>
        <p>
          <span></span>
          78 µg/m3
        </p>
      </li>

      <li>
        <h5>Ozon (O3)</h5>
        <p>
          <span></span>
          78 µg/m3
        </p>
      </li>
    </ul>

    <ul class="no-border">
      <li>
        <h5>Ozon (O3)</h5>
        <p>
          <span></span>
          78 µg/m3
        </p>
      </li>

      <li>
        <h5>Ozon (O3)</h5>
        <p>
          <span></span>
          78 µg/m3
        </p>
      </li>
    </ul>

    <p>Door op deze data modellen toe te passen, berekenen we of de impact van de luchtkwaliteit op lange termijn beter
      of
      slechter wordt.</p>

    <p>Je kan deze inschattingen bekijken in het menu via ‘blootstelling op lange termijn’.</p>

    <ion-item detail>
      <ion-label>Hoe worden deze waarden berekend? </ion-label>
    </ion-item>

    <hr>

    <p>Als de metingen de waarschuwings- waarde overschrijden, sturen we je een melding. Je kan je meldingen beheren via
      het menu.</p>

    <img src="/assets/images/gmail.png" alt="">

    <ion-item detail class="more">
      <ion-label class="ion-text-wrap">Meer weten over de Vlaamse Milieumaatschappij?</ion-label>
    </ion-item>
  </div>
</ion-content>