ion-content {
    --background: transparent;
    --padding-top: 56px;

    .app-info {
        color: white;
        padding: 25px 50px;

        ion-button {
            --background: transparent;
            --background-activated: rgba(255, 255, 255, 0.1);
            display: block;
            margin: auto;
            font-size: 24px;
            color: white;
            height: auto;
            margin-bottom: 40px;
            --background-activated: transparent;
            --box-shadow: none;
            text-transform: initial;
            font-weight: 400;

            ion-icon {
                font-size: 14px;
                margin-right: 20px;
            }
        }

        p {
            font-size: 16px;
            line-height: 18px;
            padding: 0 12.5px;
            margin-top: 0;
            margin-bottom: 20px;
            display: block;
        }

        strong {
            font-weight: 600;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(#e0e0e0, 0.37);

            li {
                flex-basis: 50%;
                padding-left: 15px;
                margin-bottom: 20px;

                &:nth-child(odd) {
                    border-right: 1px solid rgba(#e0e0e0, 0.37);
                }

                h5 {
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0;

                    b {
                        font-weight: normal;
                    }
                }

                p {
                    font-size: 13px;
                    font-weight: 500;
                    margin: 5px 0 0;
                    padding: 0;

                    span {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        border: solid 0.5px rgba(255, 255, 255, 0.42);
                        border-radius: 6px;
                        margin-right: 4px;

                        &.green {
                            background-image: linear-gradient(to bottom, #2df16b, #27d25d);
                        }

                        &.blue {
                            background-image: linear-gradient(to bottom, #29cdf7, #54bad3);
                        }

                        &.red {
                            background-image: linear-gradient(to bottom, #ff3314, #de3f28);
                        }

                        &.dark-green {
                            background-image: linear-gradient(to bottom, #2fd04a, #24bd3c);
                        }
                    }
                }
            }

            &.no-border {
                border-bottom: 0;

                li {
                    margin-bottom: 0;
                }
            }
        }

        ion-item {
            color: white;
            --padding-start: 0;
            --border-color: white;
            font-size: 16px;
            line-height: 1.38;
            --min-height: 30px;
            --inner-padding-end: 0;

            ion-label {
                padding: 0;
                margin: 0;
            }
        }

        img {
            max-width: 110%;
            margin-left: -5%;
            margin-top: 20px;
            display: block;
        }

        .more {
            margin: 45px 20px 35px;
            --inner-padding-end: 0;
            --min-height: 50px;
            --detail-icon-opacity: 1;
        }

        .line {
            display: block;
            height: 1px;
            width: 100%;
            background-color: white;
            margin: 35px 0;
            opacity: 0.3;
        }

        app-circle-chart {
            margin-bottom: 20px;
        }
    }
}