<ion-slides pager #slider (ionSlideDidChange)="slideChanged()" [options]="sliderOptions">
  <ion-slide *ngFor="let view of diagramViews">
    <div *ngIf="view.location.latitude" class="container">

      <div class="chart" *ngFor="let entry of view.entries">
        <single-chart [location]="view.location" [data]="entry.data" [loading]="entry.loading" [error]="entry.error"
          [timespan]="view.timespan" [label]="entry.label" [timeLabel]="entry.timelabel" (back)="view.stepBack()"
          (forward)="view.stepForward()"></single-chart>
      </div>

    </div>
    <div *ngIf="currentLocationError" style="height: 400px; color: white;">
      <div text-wrap>
        <h2 text-wrap>{{'belaqi-user-location-slider.current-location-error-header' | translate}}</h2>
      </div>
      <ion-item text-wrap>
        <p style="margin: auto; text-align:center;">{{currentLocationError}}</p>
      </ion-item>
      <ion-item text-wrap>
        <p style="margin: auto; text-align:center;">{{currentLocationErrorExplanation}}</p>
      </ion-item>
    </div>
  </ion-slide>
  <ion-slide *ngIf="!diagramViews?.length">
    <last-slide></last-slide>
  </ion-slide>
</ion-slides>