<div class="bar">

  <div class="bar--lines">
    <div class="bar--lines-line" *ngFor="let line of getLines(max)"></div>

    <div class="bar--lines-line liner" [ngStyle]="{'bottom': worldMax - 5 + 'px'}" *ngIf="worldMax">
      <img src="/assets/images/icons/globe.svg" alt="">
    </div>

    <div class="bar--lines-line liner" [ngStyle]="{'bottom': euMax - 5 + 'px'}" *ngIf="euMax">
      <img src="/assets/images/icons/euroflag.svg" alt="">
    </div>
  </div>

  <div class="bar--items" *ngIf="options">
    <div class="bar--items-item" *ngFor="let item of options.data"
      [ngStyle]="{'height': item.value + 'px', 'background': item.background}">
      <span *ngIf="showValues" [ngStyle]="{'color': item.value < 20 ? '#000' : '#fff'}">{{ item.value }}</span>
    </div>
  </div>
</div>

<div class="bar--labels" *ngIf="options">
  <div class="bar--labels-item" *ngFor="let label of options.labels">
    <h5>{{ label }}</h5>
  </div>
</div>