:host {
  .settingsButton {
    position: absolute;
    right: 0;

    ion-button {
      color: var(--panel-background);
      --background: none;
      --box-shadow: none;
    }
  }

  ion-label,
  slide-title {
    text-align: center;
    font-size: 1.2em;
    // position: absolute;

    .location-label {
      font-size: 1.6em;

      h2 {
        white-space: normal;
        overflow: hidden;
      }
    }
  }

  ion-row {
    justify-content: center;
    width: 90%;
    margin-left: 5%;
  }
  
  .rowWithWarningCurrentLocation {
    height: 8em;
  }

  .oldDataWarning {
    margin: auto;
    font-size: 60%;
  }
}
