:host {
  .settingsButton {
    position: absolute;
    right: -0.4em;

    ion-button {
      color: var(--panel-background);
      --background: none;
      --box-shadow: none;
    }
  }

  ion-label,
  slide-title {
    text-align: center;
    font-size: 1.2em;
    // position: absolute;
    p {
      color: white;
    }

    p {
      color: white;
    }

    .location-label {
      font-size: 1.6em;

      h2 {
        white-space: normal;
        overflow: hidden;
        margin: 0 0.7em;
      }
    }
  }

  ion-row {
    justify-content: center;
    width: 90%;
    margin-left: 5%;
  }

  .offlineModeWarning {
    color: white;
    background: var(--ion-color-danger-shade);
    border-radius: 1em;
    text-align: center;

    .offlineModeWarningIcon {
      width: 100%;
      height: 100%;
    }
  
    .offlineModeWarningText {
      min-width: 80%;
    }
  }

  .rowWithWarningCurrentLocation {
    height: 8em;
  }

  .oldDataWarning {
    margin: auto;
    font-size: 60%;
  }




}
