nearest-series-legend-slider {
  ion-slides {
    height: unset;

    .swiper-wrapper {

      .swiper-slide {
        text-align: left;
        padding: 20px;

        .slide-zoom {
          text-align: unset;

          .group-header {
            text-align: center;
          }

          .group-entry {
            font-size: smaller;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
      bottom: 0px;
    }
  }
}
