<div class="header">
  {{'annual-phenomenon-buttons' | translate}}
</div>
<ion-row nowrap>
  <ion-col (click)="openMap('NO2')">
    <div class="label">NO<sub>2</sub></div>
  </ion-col>
  <ion-col (click)="openMap('O3')">
    <div class="label">O<sub>3</sub></div>
  </ion-col>
  <ion-col (click)="openMap('PM10')">
    <div class="label">PM<sub>10</sub></div>
  </ion-col>
  <ion-col (click)="openMap('PM25')">
    <div class="label">PM<sub>2.5</sub></div>
  </ion-col>
  <ion-col (click)="openMap('BC')">
    <div class="label">BC</div>
  </ion-col>
</ion-row>
