<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'user-location-list.header' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <!-- <button ion-button (click)="toggleReorder()">
        <ion-icon name="list"></ion-icon>
      </button> -->
      <ion-button (click)="dismiss()" id="close-modal">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list class="location-list" (ionItemReorder)="reorderItems($event)">
    <div *ngFor="let location of locations; let i = index;">

      <ion-item *ngIf="location.type === 'user'">
        <div class="location-item">
          <ion-label class="header" style="color: white;">
            {{location.label}}
          </ion-label>

          <div class="map" [hidden]="reorder">
            <ion-fab vertical="bottom" horizontal="end" class="button-edit" slot="fixed" (click)="editLocation(location)">
              <ion-fab-button size="small">
                <ion-icon name="build"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <ion-fab vertical="bottom" horizontal="end" class="button-delete" slot="fixed" (click)="removeLocation(location)">
              <ion-fab-button size="small">
                <ion-icon name="trash"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <extended-geometry-map-viewer [mapId]="location.label" [geometry]="points[i]" [mapOptions]="mapOptions"></extended-geometry-map-viewer>
          </div>
          <!-- <annual-phenomenon-buttons [location]="points[i]"></annual-phenomenon-buttons> -->
        </div>
      </ion-item>

      <ion-item *ngIf="location.type === 'current'">
        <ion-label>
          <h2 style="color: white;">{{'belaqi-user-location-slider.current-location' | translate}}</h2>
          <p text-wrap style="color: white;">{{'belaqi-user-location-slider.current-location-description' | translate}}</p>
        </ion-label>
        <ion-toggle mode="md" color="success" [checked]="showCurrentLocation" (ionChange)="toggleShowCurrentLocation($event)"></ion-toggle>
      </ion-item>

    </div>
  </ion-list>
  <ion-button fill="outline" expand="block" (click)="createNewLocation()">
    {{'settings.user-locations.create-new-location' | translate}}
  </ion-button>
</ion-content>