<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'settings.user-locations.edit-location' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" id="close-modal">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="height: 300px;">
    <location-selection mapId="location-gen" [mapOptions]="mapOptions" [location]="point" (locationChanged)="onLocationChanged($event)"></location-selection>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{'intro.three.locationLabelHint' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="label" clearInput placeholder="{{'intro.three.locationLabelPlaceholder' | translate}}"></ion-input>
    </ion-item>
    <div class="toggle">
      <user-location-notifications-toggler [location]="userLocation"></user-location-notifications-toggler>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="updateLocation()">
        {{'controls.ok' | translate}}
      </ion-button>
      <ion-button (click)="dismiss()">
        {{'controls.cancel' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>