<ion-list>
  <ion-item>
    <h2 *ngIf="loadingModelledValue">loading modelled value...</h2>
    <h2 *ngIf="!loadingModelledValue && modelledValue">Modelled value for your location: {{modelledValue | number:'1.1-3'}}</h2>
    <h2 *ngIf="!loadingModelledValue && !modelledValue">No modelled value determined at your location</h2>
    <p>Latitude: {{position?.coords?.latitude | number:'1.1-6'}}, Longitude: {{position?.coords?.longitude | number:'1.1-6'}}</p>
  </ion-item>
  <ion-item>
    <h2 *ngIf="loadingStationValue">loading next station value...</h2>
    <h2 *ngIf="!loadingStationValue && nearestStation">Nearest station is: {{nearestStation.properties.label}}</h2>
    <p *ngIf="!loadingStationValue && nearestStation">Measurement: {{lastStationaryValue?.value | number:'1.1-3'}} at {{lastStationaryValue?.timestamp | date:'medium'}}</p>
    <p *ngIf="!loadingStationValue && nearestStation">This station is {{stationDistance | number:'1.0-2'}} km away</p>
  </ion-item>
</ion-list>
