<div *ngIf="isActive()" text-wrap>
  <h2 class="enabled">{{'network.geolocationEnabled' | translate}}</h2>
  <p>{{'network.geolocationEnabledExplanation' | translate}}</p>
</div>

<div *ngIf="isDeactive()" text-wrap>
  <h2 class="disabled">{{'network.geolocationDisabled' | translate}}</h2>
  <p>{{'network.geolocationDisabledExplanation' | translate}}</p>
</div>

<div *ngIf="isPartial()" text-wrap>
  <h2 class="partial">{{'network.geolocationPartial' | translate}}</h2>
  <p>{{'network.geolocationPartialExplanation' | translate}}</p>
</div>