
:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    ion-segment {
        padding-bottom: 1px;

        ion-segment-button {
            --color-checked: white;
            --indicator-color: white;
            --color: rgba(255, 255, 255, 0.5);
        }
    }

    .map {
        flex: 1;
        padding-top: 1px;
        position: relative;

        .loading {
            text-align: center;
            position: absolute;
            z-index: 10000;
            left: 0;
            right: 0;
        }

        #feedbackMap {
            height: 100%;
        }
    }
}