:host {
    ion-segment {
        padding-bottom: 1px;

        ion-segment-button {
            --color-checked: white;
            --indicator-color: white;
            --color: rgba(255, 255, 255, 0.5);
        }
    }

    .map {
        height: 300px;
        padding-top: 5px;
    }
}