:host {
    display: block;
    height: 100%;

    ion-slides {
        height: 100%;
        background: url('/assets/images/back.png') no-repeat top center / cover;

        ion-slide {
            padding: 30px;
            flex-direction: column;
            color: white;

            >div {
                width: 100%;
            }

            h1 {
                font-family: var(--ion-cookie-family);
                font-size: 120px;
                margin: 0;
            }

            p {
                font-size: 18px;
                margin: 0;
                // font-family: var(--ion-metro-family);
            }

            .language--dropdown {
                background-color: rgba(white, 0.3);
                border-radius: 30px;
                margin-top: 40px;
                height: 61px;
                display: flex;
                color: white;
                font-size: 18px;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    background: url('/assets/images/arrow.svg') no-repeat center center / 18px;
                    width: 18px;
                    height: 22px;
                }

                :ng-deep .select-icon {
                    display: none !important;
                }
            }

            .location {
                display: flex;
                flex-direction: column;

                &--input {
                    background-color: rgba(white, 0.3);
                    border-radius: 30px;
                    margin-top: 40px;
                    height: 61px;
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 30px;

                    span {
                        color: white;
                        font-size: 18px;
                    }

                    img {
                        width: 17px;
                        height: 24px;
                        display: block;
                    }
                }

                &--button {
                    color: white;
                    font-size: 18px;

                    img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }

        ::ng-deep .swiper-pagination {
            text-align: left !important;
            display: flex;
            align-items: center;
            bottom: 57px;
            left: 48px;

            .swiper-pagination-bullet {
                width: 6px;
                height: 6px;
                opacity: 0.3;
            }

            .swiper-pagination-bullet-active {
                background: white;
                width: 10px;
                height: 10px;
                opacity: 1;
            }
        }
    }

    .next {
        position: absolute;
        bottom: 57px;
        right: 48px;
        background: none !important;
        text-align: center;
        cursor: pointer;
        z-index: 5;
        color: white;
        font-size: 16px;
        font-weight: 600;
        padding: 0;
    }
}