@import '../../theme/variables';

.high-contrast{
  :host {
    ion-slides {
        background: white;

        ::ng-deep ion-slide {
            color: $black;

            .slide {
                .index-wheel {
                    display: none;

                    &.dark {
                        display: block;
                    }
                }
            }
        }

        ::ng-deep .swiper-pagination {
            .swiper-pagination-bullet {
                opacity: 0.7;
            }

            .swiper-pagination-bullet-active {
                background: $black;
                opacity: 1;
            }
        }
    }

    .next {
        color: $black;

        img {
            display: none;

            &.dark {
                display: block;
            }
        }
    }
  }
}