<div class="feedback--buttons">
  <ion-button (click)="openFeedback('like')" [ngClass]="{'active': like, 'inactive': dislike}">
    <ion-icon slot="icon-only" src="/assets/images/icons/like.svg"></ion-icon>
  </ion-button>
  <ion-button (click)="openFeedback('dislike')" [ngClass]="{'active': dislike, 'inactive': like}">
    <ion-icon slot="icon-only" src="/assets/images/icons/dislike.svg"></ion-icon>
  </ion-button>
</div>

<div style="text-align: center; padding: 1em 0;">
  <ion-button fill="clear" (click)="openFeedbackStats()" style="color: white;">
    {{ 'feedback.show-feedback-button' | translate }}
  </ion-button>
  <ion-button fill="clear" (click)="adjustLocation()" style="color: white;">
    {{ 'feedback.ajdust-location-for-feedback-button' | translate }}
  </ion-button>
</div>

<div class="feedback--content" *ngIf="like || dislike" [ngStyle]="{'padding-bottom': dislike || like ? '60px' : '0px'}">
  <div style="text-align: center;">
  </div>
  <ng-container *ngIf="like">
    <!-- per design , there was a location input here, but the location is already determined on the top of this page -->
    <!--  -->
    <!-- <app-location-input [currentLocation]="false"></app-location-input>-->  </ng-container>
  <ng-container *ngIf="dislike">
    <p>{{ 'v2.components.feedback.cause' | translate }}</p>
    <ion-list>
      <ion-item lines="none" *ngFor="let entry of form">
        <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
        <ion-label text-wrap>{{entry.val}}</ion-label>
      </ion-item>
    </ion-list>
    <!-- per design , there was a location input here, but the location is already determined on the top of this page -->
    <!--  -->
    <!-- <app-location-input [currentLocation]="false"></app-location-input>-->
  </ng-container>
</div>

<ion-item detail (click)="giveFeedback()" lines="none" class="feedback--button" *ngIf="like || dislike">
  <ion-label>{{ 'v2.components.feedback.send-observation' | translate }}</ion-label>
</ion-item>
