belaqi-wheel {

  .wheel {
    position: relative;
    width: 90%;
    height: 14em;
    margin-left: auto;
    margin-right: auto;

    .info-button {
      display: inline;
      position: absolute;
      top: 0;
      right: 0;

      button {
        color: black;
      }
    }
  }

  .no-index {
    padding: 50px 10px;
    white-space: normal;
  }
}
