<div class="wheel-wrapper">
  <div class="info-button">
    <button ion-button icon-only clear (click)="presentPopover($event)">
      <ion-icon name="information-circle"></ion-icon>
    </button>
  </div>
  <div class="notification-button">
    <notification-icon float-left></notification-icon>
  </div>
  <div class="wheel" [hidden]="!index">
    <canvas #belaqiWheel></canvas>
  </div>
</div>
<div *ngIf="!index" class="no-index">
  {{'belaqi-wheel.no-index-ascertained' | translate}}
</div>
<div id="check-height-div" style="height:0;width:0;outline:none;border:none;padding:none;margin:none;"></div>
