belaqi-wheel {

  .wheel {
    position: relative;
    width: 90%;
    height: 14em;
    margin-left: auto;
    margin-right: auto;
  }

  .no-index {
      padding: 50px 10px;
      white-space: normal;
  }
}
