name: CI/CD Workflow

on:
  push:
    branches:
      - dev
      - master
      - pipeline/android

jobs:
  # build-deploy-android:
  #   name: Build Android & deploy to PlayStore
  #   runs-on: ubuntu-latest
  #   container:
  #     image: opunbuds/ionic-capacitor-android-simple-build-box:node-hydrogen
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Build and deploy
  #       run: |
  #         echo "${{ secrets.GOOGLE_SVC_JSON }}" | base64 -d > android/app/google-services.json
  #         echo "${{ secrets.SVC_ACCOUNT }}" | base64 -d > pc-api-8152115809467011764-994-c96c4f0b05ff.json
  #         echo "${{ secrets.KEYSTORE_FILE }}" | base64 -d > belair.keystore
  #         npm i
  #         export APP_VERSION=$(./tools/version-android.sh)
  #         export BUILD_NUMBER=$(echo $APP_VERSION | awk -F. '{printf "%01d%02d%04d", $1, $2, $3}')
  #         echo "Version $APP_VERSION, Build Number $BUILD_NUMBER"
  #         npx capacitor-set-version set:android -v $APP_VERSION -b $BUILD_NUMBER
  #         ionic cap sync android --prod && cd android && ./gradlew bundle
  #         cd .. && jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore belair.keystore android/app/build/outputs/bundle/release/app-release.aab ${{ secrets.KEYSTORE_ALIAS }} -storepass ${{ secrets.KEYSTORE_PASSWORD }}
  #         cd android && fastlane deploy branch:${{ github.ref_name }}
  build-deploy-android:
    name: Build Android & deploy to PlayStore
    runs-on: ubuntu-latest
    container:
      image: opunbuds/ionic-capacitor-android-simple-build-box:node-hydrogen
    steps:
      - uses: actions/checkout@v4
      - name: Build and deploy
        run: |
          echo "${{ secrets.GOOGLE_SVC_JSON }}" | base64 -d > android/app/google-services.json
          echo "${{ secrets.SVC_ACCOUNT }}" | base64 -d > pc-api-8152115809467011764-994-c96c4f0b05ff.json
          echo "${{ secrets.KEYSTORE_FILE }}" | base64 -d > belair.keystore
          npm i
          export APP_VERSION=$(./tools/version-android.sh)
          export BUILD_NUMBER=$(echo $APP_VERSION | awk -F. '{printf "%01d%02d%04d", $1, $2, $3}')
          echo "Version $APP_VERSION, Build Number $BUILD_NUMBER"
          npx capacitor-set-version set:android -v $APP_VERSION -b $BUILD_NUMBER
          ionic cap sync android --prod && cd android && ./gradlew bundle assembleRelease
          cd .. && jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore belair.keystore android/app/build/outputs/bundle/release/app-release.aab ${{ secrets.KEYSTORE_ALIAS }} -storepass ${{ secrets.KEYSTORE_PASSWORD }}
          # Sign the APK as well
          jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore belair.keystore android/app/build/outputs/apk/release/app-release.apk ${{ secrets.KEYSTORE_ALIAS }} -storepass ${{ secrets.KEYSTORE_PASSWORD }}

      - name: Upload APK as artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: android/app/build/outputs/apk/release/app-release.apk

  # build-deploy-ios:
  #   name: Build iOS & deploy to AppStore
  #   runs-on: marvin
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Build and deploy
  #       env:
  #         MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
  #         MATCH_REPO_PASSWORD: ${{ secrets.MATCH_REPO_PASSWORD }}
  #         KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
  #         APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
  #         APPLE_API_KEY_ISSUER_ID: ${{ secrets.APPLE_API_KEY_ISSUER_ID }}
  #         APPLE_API_KEY_P8_BASE64: ${{ secrets.APPLE_API_KEY_P8_BASE64 }}
  #       run: |
  #         echo "${{ secrets.GOOGLE_SVC_PLIST }}" | base64 -d > ios/App/App/GoogleService-Info.plist
  #         export NVM_DIR="$HOME/.nvm"
  #         source $(brew --prefix nvm)/nvm.sh
  #         nvm install
  #         npm install -g @ionic/cli
  #         npm install -g @capacitor/cli
  #         npm i
  #         export APP_VERSION=$(./tools/version-ios.sh)
  #         export BUILD_NUMBER=$(echo $APP_VERSION | awk -F. '{printf "%01d%02d%04d", $1, $2, $3}')
  #         echo "Version $APP_VERSION, Build Number $BUILD_NUMBER"
  #         npx capacitor-set-version set:ios -v $APP_VERSION -b $BUILD_NUMBER
  #         ionic cap sync ios --prod
  #         cd ios/App && fastlane deploy
